<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-if="isDef(dcntry)">
    <div  ng-controller="MainDashboardController" id="cid">
        <div ng-click="openPred()" ng-target="_blank">
            <div style="position: inherit;" ng-show="iPredEnabled && predictiveDiv">
                <div class="toast toast-warning" style="width: 100%; box-shadow: none; position: relative; overflow: hidden; margin: 0 0 6px; padding: 15px 15px 15px 60px;border-radius: 3px;">
                    <button type="button" class="toast-close-button" ng-click="$event.stopPropagation(); predictiveDiv = false">×</button>
                    <div class="toast-icon glyphicons glyphicons-exclamation-sign"></div>
                    <div class="toast-message">
                        <span class="warning-color">{{predData.num}} of {{predData.den}} <span ng-show="predData.per >= 0.1">({{predData.per | number:1}}%) </span>inventory items are likely to stock out within the next 7 days in {{domainName}} &nbsp;</span>
                        <span class="glyphicon glyphicon-new-window warning-color"></span>
                    </div>
                    <span class="litetext" ng-bind-html="pSubCaption"></span>
                </div>
            </div>
        </div>
        <div class="box topbox filter-box" style="margin: 0;">
            <div class="form-horizontal">
                <div class="row">
                    <div class="col-sm-12">
                        <div ng-hide="iAU" class="col-sm-6">
                            <label class="cbx filter-label ml10">{{resourceBundle['kiosk']}} {{resourceBundle['multiple.tags']}}:</label>
                            <span ng-show="isDef(includeETag)"><span ng-repeat="tag in eTagObj track by $index" class="label label-default mt5 dinline" style="padding:.2em;">{{tag.text}}</span></span>
                            <span ng-show="isUndef(includeETag)" class="cbx" style="margin-top: 20px">All</span>
                            <span ng-show="isDef(excludeETag)" class="codegray">(Exclude: <span ng-repeat="tag in eeTagObj track by $index" class="label label-default mt5 dinline" style="padding:.2em;">{{tag.text}}</span>)</span>
                            <span uib-tooltip="Filters" ng-click="toggleFilter('e')" class="glyphicons glyphicons-filter codegray pt10"></span>
                        </div>
                        <div class="pop_filter_box col-sm-4 ws " id="filter_e"
                             style="margin-top:25px;">
                            <div class="row pt10">
                                <div class="col-sm-12">
                                    <label class="col-sm-4 noLRpad filter-label cbx">{{resourceBundle['include']}} {{resourceBundle['multiple.tags']}}
                                        <span uib-tooltip="Select&nbsp;the&nbsp;{{resourceBundle['kiosk.lowercase']}}&nbsp;tags&nbsp;to&nbsp;be included in the data for the dashboard view. If selected, only {{resourceBundle['kiosks.lowercase']}} with these tags are included in the computation of metrics for this view. Only one of Include or Exclude tags can be selected at a given time." style="display: inline" class="litetext glyphicons glyphicons-info-sign">
                                    </span>
                                    </label>
                                    <span class="col-sm-8 noLRpad lPad5">
                                    <tag-select tags-model="eTag" place-holder="All"
                                                type="'entity'"
                                                multiple="'true'"
                                                force-no-udf="'true'">
                                    </tag-select>
                                </span>
                                </div>
                            </div>
                            <div class="row pb10 pt10">
                                <div class="col-sm-12">
                                    <label class="col-sm-4 noLRpad filter-label cbx">{{resourceBundle['exclude']}} {{resourceBundle['multiple.tags']}}
                                        <span uib-tooltip="Select&nbsp;the&nbsp;{{resourceBundle['kiosk.lowercase']}}&nbsp;tags&nbsp;to&nbsp;be excluded in the data for the dashboard view. If selected, {{resourceBundle['kiosks.lowercase']}} with these tags are not included in the computation of metrics for this view. Only one of Include or Exclude tags can be selected at a given time." style="display: inline" class="litetext glyphicons glyphicons-info-sign">
                                    </span>
                                    </label>

                                    <span class="col-sm-8 noLRpad lPad5">
                                    <tag-select tags-model="excludeTag" place-holder="All"
                                                type="'entity'"
                                                multiple="'true'"
                                                force-no-udf="'true'">
                                    </tag-select>
                                </span>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                            <span class="pull-right">
                                <input type="button" class="btn btn-sm btn-primary" ng-click="applyFilters()" value="Filter">
                                <input type="button" class="btn btn-sm btn-default" ng-click="toggleFilter('e')" value="Cancel">
                                </div>
                            </div>
                        </div>
                        <div class="pull-right">
                            <button type="button" ng-click="hardRefreshDashboard()" class="btn btn-sm btn-default pull-right" tooltip-placement="top" uib-tooltip="{{resourceBundle['upgrade']}}">
                                <span class="glyphicons pt2 glyphicons-refresh"></span>
                            </button>
                            <span ng-show="isDef(dashboardView)" class="litetext cbx pull-right rPad10">{{resourceBundle['asof']}} {{dashboardView.ut}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="mt5">
            <div class="box topbox mb5">
                <div class="row" ng-hide="iAU && !tempEnabled">
                    <div class="col-sm-12" ng-show="isDef(links)">
                        <ul class="breadcrumb domain-bread-crumb" style="margin-bottom: 0px">
                            <li ng-repeat="item in links">
                            <span ng-if="$index != links.length-1" class="title domain-child"
                                  ng-click="addFilter(item.filter, item.level, $index, 'true')"
                                  uib-tooltip="Go to {{item.text}}" style="padding-left: 0px;">{{item.text}}</span>
                                <span ng-if="$index == links.length-1" style="padding-left: 0px;"
                                      class="title domain-child"><b>{{item.text}}</b></span>
                            </li>
                        </ul>
                    </div>
                </div>
                <div ng-show="!loading" class="row pt5" style="min-height: 350px">
                    <div ng-hide="tempOnlyAU" ng-class="{'col-sm-6 norightpad' : tempEnabled, 'col-sm-offset-3 col-sm-6': !tempEnabled}">
                        <h4 class="text-center mb0">{{p1caption}} <span uib-tooltip="% of inventory items that are normal or abnormal (zero stock, < min. or > max) across all {{resourceBundle['kiosks.lowercase']}} in this jurisdiction. An inventory item is a material at a {{resourceBundle['kiosk.lowercase']}}." style="display: inline" class="litetext glyphicons glyphicons-info-sign"></span>
                            <div uib-tooltip="Filters" ng-click="toggleFilter('i')" class="pull-right glyphicons glyphicons-filter codegray" style="cursor: pointer"></div>
                        </h4>
                        <div ng-if="p1subCaption != '&amp;nbsp;'" class="litetext text-center pr30" ng-bind-html="p1subCaption"></div>
                        <div class="litetext text-center pr30" ng-if="fdate"><b>Date: </b>{{fdate}}</div>
                        <div class="pop_filter_box col-sm-11 ws" id="filter_i" style="margin-left: 3%;">
                            <div class="row pb10 pt10">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 noLRpad control-label cbx">{{resourceBundle['material']}} {{resourceBundle['multiple.tags']}}</label>
                                    <span class="col-sm-9 noLRpad lPad5">
                                    <tag-select tags-model="mtag" place-holder="All"
                                                type="'material'"
                                                force-no-udf="'true'">
                                    </tag-select>
                                </span>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 noLRpad control-label cbx">Material name</label>
                                    <span class="col-sm-9 noLRpad lPad5">
                                    <material-drop-down ng-model="material" mtag="mtag.text"></material-drop-down>
                                </span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 noLRpad control-label cbx">Date</label>
                                    <div class="col-sm-9 noLRpad lPad5">
                                        <date-picker date-model="date" min-date="createdOn" place-holder="Date" max-date="today"></date-picker>
                                    </div>
                                    <span class="col-sm-offset-3 litetext lPad10 pb10">Period "Now" will reflect activity and inventory as of selected date.</span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <label class="col-sm-3 noLRpad control-label cbx">Period (since)</label>
                                    <div class="col-sm-9 noLRpad lPad5 btn-group">
                                        <select ng-model="period" class="form-control">
                                            <option value="0">Now</option>
                                            <option value="1">1 day</option>
                                            <option value="2">2 days</option>
                                            <option value="3">3 days</option>
                                            <option value="7">7 days</option>
                                            <option value="30">30 days</option>
                                        </select>
                                    </div>
                                    <span class="col-sm-offset-3 litetext lPad10 pb10">"Now" for activity will be considered as {{aper}} days.</span>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                <span class="pull-right">
                                    <input type="button" class="btn btn-sm btn-primary" ng-click="applyFilters()" value="Filter">
                                    <input type="button" class="btn btn-sm btn-default" ng-click="toggleFilter('i')" value="Cancel">
                                </span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!loading">
                            <fusion-chart type="'doughnut2d'" height="'300'" width="'100%'"
                                          chart-data="pieData[0]" chart-options="pieOpt[0]"
                                          chart-id="pie1" simple="'true'">
                            </fusion-chart>
                        </div>
                        <div class="col-sm-offset-3 col-sm-6" ng-show="stackData">
                            <div ng-if="!loading" class="mtm15">
                                <fusion-chart type="'stackedbar2d'" height="'40'" width="'100%'"
                                              chart-label="stackLabel"
                                              chart-data="stackData" chart-options="stackBarOptions"
                                              chart-id="stackBar">
                                </fusion-chart>
                            </div>
                            <div class="litetext text-center position-relative mtm15" >Activity <span ng-if="showActivityLabel">({{aper}} days) </span><span uib-tooltip="% of {{resourceBundle['kiosks.lowercase']}} that are active or inactive, i.e. have done at least one transaction within the specified period." style="display: inline" class="litetext glyphicons glyphicons-info-sign"></span></div>
                        </div>
                    </div>
                    <div ng-show="tempEnabled" ng-class="{'col-sm-6 col-sm-offset-3':isTempMonOnly || iAU,'col-sm-6 noleftpad':!(isTempMonOnly || iAU)}" style="width: 50%">
                        <h4 class="text-center mb0">{{p2caption}} <span uib-tooltip="% of cold-chain assets whose temperature status is normal, low, high or unknown across this jurisdiction." style="display: inline" class="litetext glyphicons glyphicons-info-sign"></span>
                            <span uib-tooltip="Filters" ng-click="toggleFilter('a')" class="pull-right glyphicons glyphicons-filter codegray" style="cursor: pointer"></span>
                        </h4>
                        <div class="litetext text-center pr30" ng-if="p2subCaption!= '&amp;nbsp;'" ng-bind-html="p2subCaption"></div>
                        <div ng-show="fdate" class="litetext">&nbsp;&nbsp;</div>
                        <div class="pop_filter_box col-sm-11 ws" id="filter_a" style="margin-left:3%">
                            <div class="row pb10 pt10">
                                <div class="col-sm-12">
                                    <label class="col-sm-4 noLRpad control-label cbx">Asset type</label>
                                    <span class="col-sm-8 noLRpad lPad5">
                                    <lg-uib-select multiple="'multiple" query="filterAssets(q)" ui-model="asset" place-holder="All"> </lg-uib-select>
                                </span>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                    <label class="col-sm-4 noLRpad control-label cbx">Period (since)</label>
                                    <div class="col-sm-8 noLRpad lPad5">
                                        <select ng-model="tperiod" class="form-control">
                                            <option value="M_0">Now</option>
                                            <option value="M_30">30 minutes</option>
                                            <option value="H_1">1 hour</option>
                                            <option value="H_2">2 hours</option>
                                            <option value="H_3">3 hours</option>
                                            <option value="H_6">6 hours</option>
                                            <option value="H_12">12 hours</option>
                                            <option value="D_1">1 day</option>
                                            <option value="D_2">2 days</option>
                                            <option value="D_3">3 days</option>
                                            <option value="D_7">7 days</option>
                                            <option value="D_15">15 days</option>
                                            <option value="D_30">30 days</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                    <label class="col-sm-4 noLRpad control-label cbx">Exclude temperature state</label>
                                    <span class="col-sm-8 noLRpad lPad5">
                                    <lg-uib-select multiple="'multiple" query="filterStatus(q)" ui-model="exTempState" place-holder="None"> </lg-uib-select>
                                </span>
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                <span class="pull-right">
                                    <input type="button" class="btn btn-sm btn-primary" ng-click="applyFilters()" value="Filter">
                                    <input type="button" class="btn btn-sm btn-default" ng-click="toggleFilter('a')" value="Cancel">
                                </span>
                                </div>
                            </div>
                        </div>
                        <div ng-if="!loading && tempEnabled">
                            <fusion-chart type="'doughnut2d'" height="'300'" width="'100%'"
                                          chart-data="pieData[1]" chart-options="pieOpt[1]"
                                          chart-id="pie2" simple="'true'">
                            </fusion-chart>
                        </div>
                    </div>
                    <div ng-show="iAU && !tempEnabled" class="col-sm-12">
                        <div class="alert alert-warning">{{resourceBundle['assetuser']}}</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-hide="iAU && !tempEnabled" class="box topbox">
            <div ng-if="!mloading" class="row" style="min-height: 700px">
                <h4 class="text-center mb0">{{caption}}</h4>
                <div class="litetext text-center" ng-if="subCaption != '&amp;nbsp;'" ng-bind-html="subCaption"></div>
                <div class="litetext text-center" ng-if="fdate"><b>Date: </b>{{fdate}}</div>
                <div class="row pt20">
                    <div ng-class="{'col-sm-offset-2':!matBarData}" class="col-sm-8">
                        <div class="text-center text-bold">By location
                            <div class="btn-group float-right" ng-show="showSwitch">
                                <label class="btn btn-sm btn-default" ng-click="setShowMap(true)" ng-model="showMap" uib-btn-radio="true" uib-tooltip="{{resourceBundle['map.view']}}"><span style="padding-top: 3px" class="glyphicons glyphicons-globe"></span></label>
                                <label class="btn btn-sm btn-default" ng-click="setShowMap(false)" ng-model="showMap" uib-btn-radio="false" uib-tooltip="Bar&nbsp;view"><span style="padding-top: 3px" class="glyphicons glyphicons-paragraph"></span></label>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4" ng-if="matBarData">
                        <div class="text-center text-bold">By material</div>
                    </div>
                </div>
                <div ng-if="showMap" ng-class="{'col-sm-offset-2':!matBarData}" class="col-sm-8 norightpad">
                    <fusion-chart type="mapType" height="'700'" width="'100%'"
                                  chart-data="mapData" chart-options="mapOpt" color-range="mapRange"
                                  markers="markers"
                                  chart-id="map1" simple="'true'">
                    </fusion-chart>
                </div>
                <div ng-if="!showMap" ng-class="{'col-sm-offset-2':!matBarData}" class="col-sm-1"></div>
                <div ng-if="!showMap" class="col-sm-5">
                    <fusion-chart type="'bar2d'" height="barHeight" width="'100%'"
                                  chart-data="barData" chart-options="barOpt"
                                  chart-id="bar1" simple="'true'">
                    </fusion-chart>
                    <div ng-if="barData" class="text-center">
                    <span ng-repeat="value in mr[mapEvent]" ng-if="!($first)">
                        <span class="paddinglr5" style="background-color:{{mc[mapEvent][$index-1]}}"></span>
                        <span style="font-size: 80%">&nbsp; {{mr[mapEvent][$index-1]}}-{{value}}%</span>
                    </span>
                    </div>
                </div>
                <div ng-class="{'col-sm-offset-2':!showMap}" class="col-sm-4" ng-if="matBarData">
                    <fusion-chart type="'bar2d'" height="matBarHeight" width="'100%'"
                                  chart-data="matBarData" chart-options="barOpt"
                                  chart-id="bar2" simple="'true'">
                    </fusion-chart>
                    <div ng-if="matBarData" class="text-center">
                    <span ng-repeat="value in mr[mapEvent]" ng-if="!($first)">
                        <span class="paddinglr5" style="background-color:{{mc[mapEvent][$index-1]}}"></span>
                        <span style="font-size: 80%">&nbsp; {{mr[mapEvent][$index-1]}}-{{value}}%</span>
                    </span>
                    </div>
                </div>
            </div>
            <div ng-if="mloading" class="row mt18" style="min-height: 700px;color: #aaaaaa">
                <div class="text-center">
                    Loading... <span class="glyphicons glyphicons-cogwheel spin"></span>
                </div>
            </div>
        </div>
    </div>
</div>
<div ng-if="isUndef(dcntry)">
    <div class="mt5">
        <div class="box topbox tabminheight">
            <div class="row">
                <div class="col-sm-12 mt10">
                    <div class="alert alert-warning">Please choose default country for the domain to enable dashboards.</div>
                </div>
            </div>
        </div>
    </div>
</div>
