<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="AssetsDetailsListingController" class="pt10">
    <div class="filter-box filter-box-fit">
        <div ng-include="'views/common/reset-filters.html'"/>
        <div class="row">
            <div class="col-sm-3 pt20 mh40">
                <span class="lPad5 filter-label">{{resourceBundle['asset.type']}}</span>
                <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="istypeopen">
                    <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                        {{assetFilters[assetTypeFilter].dV}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-show="istypeopen">
                        <li ng-repeat="assetFilter in assetFilters">
                            <a ng-click="updateTypeFilter(assetFilter.value)">{{assetFilter.dV}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 pt20 mh40">
                <span class="lPad5 filter-label">Working status</span>
                <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="iswstypeeopen">
                    <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                        {{assetWSFilters[assetWSFilter].dV}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-show="iswstypeeopen">
                        <li ng-repeat="ws in assetWSFilters">
                            <a ng-click="updateWorkingStatusFilter(ws.status)">{{ws.dV}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 pt20 mh40 ">
                <span class="filter-label lPad5">Alarms</span>
                <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="isopen">
                    <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                        {{filters[currentFilter].displayValue}} <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu" ng-show="isopen">
                        <li ng-repeat="filter in filters">
                            <a ng-click="onAlarmFilterChange(filter.value)" ng-if="isUndef(filter.type)
                            || (isDef(currentAsset) && filter.type == currentAsset.at)
                                    || isUndef(currentAsset)">{{filter.displayValue}}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 pt20 mh40">
                <span ng-show="currentFilter != 0 && currentFilter != 4">
                    <form class="form-inline">
                        <div class="filter-label col-sm-2 pd-vert-7">
                            {{resourceBundle['over.uppercase']}}
                        </div>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="duration" maxlength="4" maxlength="50"
                                       ng-enter="onDurationFilterChange()">
                                <span class="input-group-btn">
							        <button class="btn btn-default" ng-click="onDurationFilterChange()" type="button"
                                            uib-tooltip="{{resourceBundle['search']}}">
                                        <span class="glyphicons glyphicons-search"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div class="filter-label col-sm-3 pd-vert-7 noleftpad">
                            {{resourceBundle['minutes']}}
                        </div>
                    </form>
                </span>
            </div>
        </div>
    </div>
    <div class="box topbox">
        <div class="row mg-hori-zero mt10">
            <div class="col-sm-6">
                <h5 class="sgHeading" ng-show="location" style="margin-left: 0px; margin-right: 0px;">
                    {{resourceBundle['assets']}} {{resourceBundle['in']}} {{location}}
                </h5>
            </div>
            <div class="col-sm-6">
                <span class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </span>
            </div>
        </div>
        <table class="table table-striped table-hover mg-bottom-zero table-logistimo">
            <tr>
                <th></th>
                <th>#</th>
                <th nowrap>{{resourceBundle['deviceid']}} ({{resourceBundle['vendor']}})</th>
                <th ng-if="assetTypeFilter == 0">Type</th>
                <th>Model</th>
                <th>Working status</th>
                <th nowrap ng-if="isDef(currentAsset)">{{resourceBundle['status']}}</th>
            </tr>
            <tr ng-show="filtered.length == 0">
                <td class="text-center" colspan="5">{{resourceBundle['data.unavailable']}}</td>
            </tr>
            <tr ng-repeat="asset in filtered" ng-show="filtered.length > 0">
                <td><span class="glyphicons glyphicons-bring-to-front tglyph" ng-if="currentDomain != asset.sdid" ng-click="switchDomain(asset.sdid,asset.sdname)" uib-tooltip="{{asset.sdname}}"></span></td>
                <td>
                    {{$index+1}}
                </td>
                <td nowrap>
                    <a href="#/assets/detail/{{asset.vId}}/{{asset.dId}}">
                        {{asset.dId}} ({{assetVendorMapping[asset.vId]}})
                    </a>
                </td>
                <td ng-if="assetTypeFilter == 0">
                    {{assetFilters[assetTypeFilter].dV}}
                </td>
                <td>
                    {{asset.meta.dev.mdl}}
                </td>
                <td>
                    {{assetWSFilters[asset.ws.st + 1].dV}}
                </td>
                <td ng-if="isDef(currentAsset) && currentAsset.at == 2">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="info-box" ng-show="asset.tmp.length > 0" ng-repeat="t in asset.tmp">
                                <div class="info-box-icon" ng-style="{'background-color': getColorCode(t.lId)}"></div>
                                <div class="info-box-content">
                                    <div class="info-box-top">
                                        <span ng-class="{'c-grey': !t.isActive, 'c-green': t.st == 0, 'c-orange': t.st == 1 || t.st == 2, 'c-red': t.st == 3 && t.aSt == 2, 'c-aqua': t.st == 3 && t.aSt == 1 }">
                                            <span ng-if="!t.isActive" class="info-box-status glyphicons glyphicons-circle-question-mark"></span>
                                            <span ng-if="t.st == 0 && t.isActive" class="info-box-status glyphicons glyphicons-ok-circle"></span>
                                            <span ng-if="(t.st == 2 || t.st == 1) && t.isActive" class="info-box-status glyphicons glyphicons-exclamation-sign"></span>
                                            <span ng-if="t.st == 3 && t.isActive" class="info-box-status glyphicons glyphicons-remove-circle"></span>
                                        </span>
                                        <span class="info-box-tmp" ng-class="{'c-grey': t.st == -1, 'c-green': t.st == 0, 'c-orange': t.st == 1 || t.st == 2, 'c-red': t.st == 3 && t.aSt == 2, 'c-aqua': t.st == 3 && t.aSt == 1 }">
                                            {{t.tmp}} &#8451;
                                        </span>
                                        <span class="pull-right litetext info-box-loc">
                                            {{getLocationName(t.lId)}}
                                        </span>
                                    </div>
                                    <div class="info-box-bottom">
                                        <span class="pull-left litetext" ng-if="t.st <= 0">
                                            {{t.ftime}}
                                        </span>
                                        <span class="pull-left litetext" ng-if="t.st > 0">
                                            {{t.fstut}}
                                        </span>
                                        <!--<span class="info-box-litetext pull-right info-box-loc">
                                                            {{t.min}}-{{t.max}} &#8451;
                                        </span>-->
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" ng-show="asset.tmp.length == 0">
                                <span class="glyphicons glyphicons-circle-question-mark c-grey"></span>
                            </div>
                        </div>
                    </div>
                </td>
                <td ng-if="isDef(currentAsset) && currentAsset.at == 1">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="info-box" ng-repeat="a in asset.alrm | limitTo: 5" ng-if="a.stat > 0">
                                <div class="info-box-icon bg-orange"></div>
                                <div class="info-box-content">
                                    <div class="info-box-top c-orange">
                                        <span>
                                            <span class="info-box-status glyphicons glyphicons-warning-sign"></span>
                                        </span>
                                        <span class="info-box-alm">
                                            {{getAlarmType(a.typ, a.stat)}}
                                        </span>
                                    </div>
                                    <div class="info-box-bottom">
                                        <span class="litetext">
                                            {{a.ftime}}
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
        <div class="row mg-hori-zero">
            <div class="col-sm-8">

            </div>
            <div class="col-sm-4">
                <span class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </span>
            </div>
        </div>
    </div>
</div>