<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="SimpleMenuController"
	ng-init="init('setup.materials.all')">
	<ul class="nav nav-tabs subnav-tabs">
		<li ng-if="iSU || (iAdm && dp.mv)" ng-class="{active: subview == 'list' || subview == 'edit' || subview == 'detail'}"><a
			href="#/setup/materials/">{{resourceBundle['materials']}}</a></li>
		<li ng-if="iSU || dp.ma" ng-class="{active: subview == 'add' }"><a
			href="#/setup/materials/all/add/">{{resourceBundle['create']}} {{'material'}}</a></li>
		<li ng-if="iSU || dp.ma || dp.me || dp.mr" ng-class="{active: subview == 'upload' }"><a
			href="#/setup/materials/all/upload/">{{resourceBundle['bulkupload.uploadinbulk']}}</a></li>
	</ul>
	<div ng-switch="subview">
		<div class="tab-pane" ng-switch-when="list">
			<div ng-if="iSU || (iAdm && dp.mv)" ng-init="matListType = 'all'"
				ng-include="'views/materials/materials-list.html'"></div>
		</div>
		<div class="tab-pane" ng-switch-when="add">
			<div ng-if="iSU || dp.ma" ng-include="'views/materials/add.html'"></div>
		</div>
        <div class="tab-pane" ng-switch-when="edit">
            <div ng-if="iSU || dp.me" ng-include="'views/materials/add.html'"></div>
        </div>
		<div class="tab-pane" ng-switch-when="upload">
			<div ng-if="iSU || dp.ma || dp.me || dp.mr" ng-init="uploadType='materials'" ng-include="'views/bulkupload.html'"></div>
		</div>
		<div class="tab-pane" ng-switch-when="detail">
			<div ng-include="'views/materials/material.html'"></div>
		</div>
	</div>
</div>

