<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Logistimo</title>

    <link rel="stylesheet" href="css/3rdparty/bootstrap.min.css">
    <link rel="stylesheet" href="css/3rdparty/glyphicons.css">

    <!-- @if NODE_ENV == 'LOCAL' -->
    <link rel="stylesheet" href="css/navbar.css">
    <link rel="stylesheet" href="css/logistimo.css">
    <link rel="stylesheet" href="css/animations.css">
    <link rel="stylesheet" href="css/toastr.css">
    <!-- @endif -->

    <!-- @if NODE_ENV == 'PRODUCTION' || NODE_ENV == 'DEVELOPMENT'  -->
    <!-- @echo cssInc -->
    <!-- @endif -->
    <script src="js/3rdparty/jquery.min.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular-animate.js"></script>
    <script src="js/3rdparty/angular-1.5.11/angular-route.js"></script>
    <script src="js/3rdparty/toastr.js"></script>
    <script>

        var lgPassword = angular.module('lgPassword', ['ngRoute'])
                .config(function($locationProvider) {
            $locationProvider.html5Mode({
                enabled: true,
                requireBase: false
            });
        });
        lgPassword.controller('passwordRequestController', ['$scope', '$location', '$window', 'passwordService',
            function ($scope, $location, $window, passwordService) {
                $scope.init = function(){
                    $scope.pdr = {npd: "", cpd: ""};
                    if($location.search() != null && $location.search() != ""){
                        $scope.key = $location.search().key;
                    }
                    $scope.proceed = false;
                    $scope.invalid = false;
                    $scope.showMsg = false;
                    $scope.errorMsg = undefined;
                    $scope.showSuccess = undefined;
                    $scope.showLogin = false;
                    $scope.lengthMismatch = false;
                };

                $scope.init();

                $scope.checkPasswords = function(){
                    if ( checkNotNullEmpty($scope.pdr.npd) && checkNotNullEmpty($scope.pdr.cpd) ) {
                        if($scope.pdr.npd.length > 5){
                            if ($scope.pdr.npd == $scope.pdr.cpd) {
                                $scope.proceed = true;
                            } else {
                                $scope.invalid = true;
                                $scope.showMsg = true;
                                $scope.errorMsg = "Password does not match the confirm password";
                            }
                        } else {
                            $scope.invalid = true;
                            $scope.showMsg = true;
                            $scope.errorMsg = "Password must contain minimum of six characters";
                        }
                    }
                };

                $scope.resetMismatch = function(){
                    $scope.proceed = false;
                    $scope.invalid = false;
                    $scope.showMsg = false;
                    $scope.errorMsg = undefined;
                    $scope.lengthMismatch = false;
                };

                $scope.setPassword = function(){
                    if($scope.pdr != null && $scope.pdr != ""){
                        $scope.checkPasswords($scope.pdr);
                        if($scope.proceed){
                            $scope.pdr.key = $scope.key;
                            $scope.pdr.uid = $scope.uid;
                            passwordService.setPassword($scope.pdr).then(function(data){
                                $scope.errMsg = data.data;
                                if ($scope.errMsg.isError) {
                                    $scope.invalid = true;
                                    $scope.showMsg = true;
                                    $scope.errorMsg = $scope.errMsg.errorMsg;
                                } else {
                                    $scope.showSuccess = $scope.errMsg.errorMsg;
                                    $scope.resetMismatch();
                                    $scope.showLogin = true;
                                }
                            }).catch(function error(){
                                $window.location.href = '/v2/password-reset-error.html';
                            })
                        }
                    }
                };

                $scope.isUndef = function(value){
                    return (value == undefined || value == '');
                };
                $scope.isDef = function(value){
                    return !$scope.isUndef(value);
                };

                function checkNotNullEmpty(argument) {
                    return typeof argument !== 'undefined' && argument != null && argument != "";
                };

                $scope.showSuccess = function (message) {
                    $scope.showNotification(cleanupString(message), 'success');
                };

                function cleanupString(msg) {
                    if(checkNotNullEmpty(msg)) {
                        if(typeof msg === 'object'){
                            msg = JSON.stringify(msg);
                        }
                        var r = /\\u([\d\w]{4})/gi;
                        msg = msg.replace(r, function (match, grp) {
                            return String.fromCharCode(parseInt(grp, 16));
                        });
                        if (msg.charAt(0) == '"' && msg.charAt(msg.length - 1) == '"') {
                            msg = msg.substring(1, msg.length - 1);
                        }
                        return msg.replace(/\\"/g, '"');
                    }
                    return msg;
                };

                $scope.showNotification = function(message, type) {
                    message = checkNotNullEmpty(message)?message:$scope.resourceBundle['general.error'];
                    switch(type) {
                        case 'success':
                            toastr.success(message);
                            break;
                        case 'info':
                            toastr.info(message);
                            break;
                        case 'warning':
                            toastr.warning(message);
                            break;
                        case 'error':
                            toastr.error(message);
                            break;
                    }
                };

                $scope.checkPwdLength = function() {
                    if($scope.pdr.npd.length < 6) {
                        $scope.invalid = true;
                        $scope.showMsg = true;
                        $scope.errorMsg = "Password must contain minimum 6 characters";
                    }
                }
            }
        ]);

        lgPassword.factory('passwordService', ['$http', function ($http) {
            return {
                fetchP: function (data, urlStr) {
                    var promise = $http({method: 'POST', data: data, url: urlStr});
                    return promise;
                },
                setPassword: function(data){
                    return this.fetchP(data, '/s2/api/auth/changePassword');
                }
            }
        }]);
    </script>
</head>
<body class="mainbody" ng-app="lgPassword">
<div class="modal fade ng-isolate-scope login-modal-win in" style="z-index: 1050;display: block;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div ng-controller="passwordRequestController">
                <form class="form-horizontal" novalidate>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="text-center">
                                <img class="imagewrapper" src="images/acquia_marina_logo.png">
                            </div>
                        </div>
                    </div>
                    <div class="bgr bgr-login">
                        <div class="row mt10">
                            <div class="col-sm-10 col-sm-offset-1">
                                <p class="fc-color-red text-justify" ng-show="invalid && showMsg && !showLogin"><span class="glyphicons glyphicons-remove-circle"></span>&nbsp;{{errorMsg}}</p>
                            </div>
                        </div>
                        <div class="row noMargin" ng-show="!showLogin"> <!--New Password-->
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <span class="control-label">New password</span>
                                    <input type="password" class="form-control" id="usrPwd" maxlength="18"
                                           name="usrPwd"
                                           ng-model="pdr.npd"
                                           ng-change="resetMismatch()"
                                           ng-blur="checkPwdLength()"
                                           placeholder="New password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row noMargin" ng-show="!showLogin"> <!-- Confirm Password -->
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <span class="control-label">Confirm password</span>
                                    <input type="password" class="form-control" id="usrCpwd" maxlength="18"
                                           name="usrCpwd"
                                           ng-model="pdr.cpd"
                                           ng-change="resetMismatch()"
                                           ng-blur="checkPasswords()"
                                           placeholder="Confirm password" required/>
                                </div>
                            </div>
                        </div>
                        <div class="row noMargin" ng-show="showLogin">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <p class="text-success text-justify" style="color: #008000;font-size: 14px;">{{showSuccess}}</p>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-10 col-sm-offset-1">
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <input type="button" class="btn btn-primary w100" ng-click="setPassword()" ng-show="!showLogin" ng-disabled="isUndef(pdr.npd) || isUndef(pdr.cpd)" value="Change password">
                                    </div>
                                    <div class="col-sm-12 pt10" ng-show="showLogin">
                                        <a class="btn btn-primary w100" href="/v2/index.html#/" target="_blank">Login</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
