<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox">
    <div class="bizinfo bizinfo-last">
        <div ng-controller="UserPasswordController">
            <form class="form-horizontal" role="form" name="userPasswordForm" novalidate>
                <div ng-hide="reset">
                    <div class="bgr">
                        <div class="title-heading">
                            Change password for <span class="capbold text-bold">{{user.fnm}} {{user.lnm}}</span>
                        </div>
                        <div class="row"> <!--Old Password-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usrPw" class="col-sm-4 control-label">{{resourceBundle['user.id']}}</label>
                                    <div class="col-sm-8">
                                        <input type="text" class="form-control" id="userid"
                                               ng-model="user.id"
                                               name="userid"
                                               placeholder="{{resourceBundle['user.id']}}"
                                               ng-disabled="true">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row"> <!--Old Password-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usrPw" class="col-sm-4 control-label required">{{resourceBundle['user.oldpassword']}}</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="usrOpw"
                                               ng-model="upw.opw"
                                               name="opw"
                                               placeholder="{{resourceBundle['user.oldpassword']}}"
                                               ng-class="{'c-visited' : uVisited.opw}"
                                               ng-focus="iopw = false"
                                               ng-blur="uVisited.opw = true" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="has-error" ng-show="uVisited.opw && userPasswordForm.opw.$error.required">
                                        <span class="help-block">{{resourceBundle['user.oldpassword']}} {{resourceBundle['isrequired']}}</span>
                                    </div>
                                    <div class="has-error" ng-show="iopw">
                                        <span class="help-block">{{resourceBundle['user.invalidoldpassword']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"> <!--Password-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usrPw" class="col-sm-4 control-label required">{{resourceBundle['user.newpassword']}}</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="usrPw"
                                               ng-model="upw.pw"
                                               name="pw"
                                               placeholder="{{resourceBundle['user.newpassword']}}"
                                               ng-keyup="uVisited.pw && uVisited.cpw && validatePassword()"
                                               ng-class="{'c-visited' : uVisited.pw,'u-na' : uVisited.pw && uVisited.cpw && uPasswordInvalid}"
                                               ng-blur="uVisited.pw = true;validatePassword()" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="has-error">
                                        <span ng-show="uVisited.pw && userPasswordForm.pw.$error.required" class="help-block">{{resourceBundle['user.newpassword']}} {{resourceBundle['isrequired']}}</span>
                                        <span ng-show="uVisited.pw && !userPasswordForm.pw.$error.required && uPasswordInvalid && uPasswordInvalidType == 'l'" style="display:inline" class="help-block">{{resourceBundle['passwordvalidationmsg']}}: 6 - 18</span>
                                        <span ng-show="uVisited.pw && uVisited.opw && !userPasswordForm.pw.$error.required && uPasswordInvalid && uPasswordInvalidType == 's'" class="help-block">{{resourceBundle['password.mismatch']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row"> <!--Confirm Password-->
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <label for="usrCPw" class="col-sm-4 control-label required">{{resourceBundle['user.confirmnewpassword']}}</label>
                                    <div class="col-sm-8">
                                        <input type="password" class="form-control" id="usrCPw"
                                               ng-model="upw.cpw"
                                               name="cpw"
                                               placeholder="{{resourceBundle['user.confirmnewpassword']}}"
                                               ng-keyup="uVisited.pw && uVisited.cpw && validatePassword()"
                                               ng-class="{'c-visited' : uVisited.cpw,'u-na' : uVisited.pw && uVisited.cpw && uPasswordInvalid}"
                                               ng-blur="uVisited.cpw = true;validatePassword()" required>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="form-group">
                                    <div class="has-error" >
                                        <span ng-show="uVisited.cpw && userPasswordForm.cpw.$error.required" style="display:inline" class="help-block">{{resourceBundle['user.confirmnewpassword']}} {{resourceBundle['isrequired']}}</span>
                                        <span ng-show="uVisited.pw && uVisited.cpw && !userPasswordForm.cpw.$error.required && uPasswordInvalid && uPasswordInvalidType == ''" style="display:inline" class="help-block">{{resourceBundle['user.passwordmismatch']}}</span>
                                        <span ng-show="uVisited.pw && uVisited.cpw && !addUserForm.cpw.$error.required && uPasswordInvalid && uPasswordInvalidType == 'm'" style="display:inline" class="help-block">{{resourceBundle['user.pwd.mismatch']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div ng-show="reset">
                    <div class="row"> <!--Send Password-->
                        <div class="col-sm-12">
                            <div class="bgr">
                                <div class="title-heading">
                                   Reset password for <span class="capbold text-bold">{{user.fnm}} {{user.lnm}}</span>
                                </div>
                                <div class="row">
                                    <label class="col-sm-2 control-label">{{resourceBundle['user.sendpasswordvia']}}</label>
                                    <div class="col-sm-8 cbx">
                                        <input type="radio" ng-model="sendType" value="sms"/> {{resourceBundle['user.smsto']}} {{user.phm}}
                                        &nbsp;&nbsp;
                                        <input type="radio" ng-disabled="isUndef(user.em)" ng-model="sendType" value="email" /> {{resourceBundle['user.emailto']}} : {{user.em}} <span ng-if="isUndef(user.em)"> {{resourceBundle['user.noregisteredemail']}}</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div ng-if="reset" class="col-sm-8" style="padding-left: 30px;">
                        <button ng-click="resetPassword()" class="btn btn-primary" ng-disabled="dpwd">{{resourceBundle['resetpassword']}}</button>
                        <a href="#/setup/users/all/details?userId={{userId}}" style="color: #000000;" class="btn btn-default">{{resourceBundle['cancel']}}</a>
                    </div>
                    <div ng-if="!reset" class="col-sm-8" style="float: right;padding-left: 30px;">
                        <button ng-click="userPasswordForm.$valid && !uPasswordInvalid && updatePassword()" class="btn btn-primary">{{resourceBundle['update']}}</button>
                        <a href="#/setup/users/all/details?userId={{userId}}" style="color: #000000;" class="btn btn-default">{{resourceBundle['cancel']}}</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>