<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox">
    <div ng-controller="UsersListController">
        <div class="filter-box form-group" ng-show="iAdm">
            <div class="row">
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user.firstname']}}</span>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="search.key" name="search.key" maxlength="50"
                               placeholder="{{resourceBundle['user.firstname.placeholder']}}" ng-enter="searchUser()">
							<span class="input-group-btn">
							<button class="btn btn-default" ng-click="searchUser()" type="button"
                                    uib-tooltip="{{resourceBundle['search']}}">
                                <span class="glyphicons glyphicons-search"></span>
                            </button>
							</span>
                    </div>
                </div>
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user.mobile.phone.number']}}</span>
                    <div class="input-group">
                        <input type="text" class="form-control" name="uphn" ng-model="uphn"  maxlength="50"
                               placeholder="+&lt;{{resourceBundle['country']}}&gt;&lt;{{resourceBundle['user.number']}}&gt;"   ng-enter="searchPhone()">
							<span class="input-group-btn">
							<button class="btn btn-default" ng-click="searchPhone()" type="button"
                                    uib-tooltip="{{resourceBundle['search']}}">
                                <span class="glyphicons glyphicons-search"></span>
                            </button>
							</span>
                    </div>
                    <!--<span class="litetext">+&lt;{{resourceBundle['country']}}-{{resourceBundle['code']}}&gt; &lt;{{resourceBundle['user.mobile']}}&gt;<br/>{{resourceBundle['eg']}} +91 9844360948 [{{resourceBundle['india']}}], +1</span>-->
                </div>
                <div class="col-sm-2">
                    <span class="filter-label">{{resourceBundle.role}}</span>
                    <select class="form-control" ng-model="urole" name="type">
                        <option value="">{{resourceBundle['all']}}</option>
                        <option value="ROLE_ko">{{resourceBundle['role.kioskowner']}}</option>
                        <option value="ROLE_sm">{{resourceBundle['role.servicemanager']}}</option>
                        <option ng-show="iAdm" value="ROLE_do">{{resourceBundle['role.domainowner']}}</option>
                        <option ng-show="iSU" value="ROLE_su">{{resourceBundle['role.superuser']}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user.user.id']}}</span>
                    <div class="has-feedback">
                        <input type="text" ng-model="userId"  name="userId"
                               autocomplete="off"
                               placeholder="{{resourceBundle['user.userid.placeholder']}}"
                               typeahead-wait-ms="300"
                               ng-class="{'c-visited' : submitted}"
                               typeahead-on-select="goToUser(userId)"
                               uib-typeahead="usr as usr for usr in  getFilteredElement('userId', $viewValue) | limitTo:8"
                               class="form-control" typeahead-editable="false" />
                        <span ng-show="loadinguserId" class="form-control-feedback typehead-loading" aria-hidden="true" >
                            <span class="glyphicons glyphicons-cogwheel spin"></span>
                        </span>
                    </div>
                </div>
                <div class="col-sm-1 mt18">
                    <span class="pull-right">
                    <button type="reset" ng-click="reset()" class="btn btn-sm btn-default">
                        {{resourceBundle['reset']}}
                    </button>
                    </span>
                </div>
            </div>

            <div class="row mt18" ng-show="showMore">
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user.active']}}</span>
                    <select class="form-control" ng-model="uactive" name="uactive">
                        <option value="">{{resourceBundle['all']}}</option>
                        <option value="true">{{resourceBundle['user.active']}} </option>
                        <option value="false">{{resourceBundle['user.disabled']}}</option>
                    </select>
                </div>
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user.mobile.app.version']}}</span>
                    <div class="input-group">
                        <input type="text" ng-model="uversion" class="form-control" name="uversion" maxlength="50" placeholder="{{resourceBundle['user.mobile.app.placeholder']}}" ng-enter="searchVersion() || isDef(utag)"/>
                    <span class="input-group-btn">
                        <button class="btn btn-default" ng-click="searchVersion()" type="button"
                                placeholder="{{resourceBundle['filterby']}} {{resourceBundle['user.mobile.app.version']}}">
                            <span class="glyphicons glyphicons-search"></span>
                        </button>
                    </span>
                    </div>
                </div>
                <div class="col-sm-5" ng-hide="isDef(nvrlogged)" >
                    <div class="filter-label">{{resourceBundle['lastlogin']}}</div>
                    <div class="row mgh0">
                        <div class="col-sm-6" style="right:15px;" >
                            <date-picker date-model="from" place-holder="From" max-date="today"></date-picker>
                        </div>
                        <!--<div class="col-sm-6" style="right:15px;" ng-hide="isDef(nvrlogged)">-->
                        <div class="col-sm-6" style="right:15px;">
                            <date-picker date-model="to" place-holder="To" min-date="from" max-date="today"></date-picker>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt18" ng-show="showMore">
                <div class="col-sm-3">
                    <input type="checkbox" ng-model="nvrlogged"
                           ng-disabled="isDef(from) || isDef(to)" > {{resourceBundle['user.never.logged.in']}}
                </div>
                <div class="col-sm-3">
                    <span class="filter-label">{{resourceBundle['user']}} {{resourceBundle['tag.lower']}}:</span>
                    <tag-filter ng-model="utag" tag-type="user" ></tag-filter>
                </div>
            </div>
        </div>
        <div ng-show="iAdm">
            <div class="row" ng-hide="showMore ">
                <div class="col-sm-12 ">
                    <span class="glyphicons  glyphicons-chevron-down medium filter-expand"  ng-click="showMore = true" ></span>
                </div>
            </div>
            <div class="row" ng-show="showMore ">
                <div class="col-sm-12">
                    <span class="glyphicons  glyphicons-chevron-up medium filter-expand"  ng-click="showMore = !showMore"></span>
                </div>
            </div>
        </div>

        <div ng-hide="noUserFound">
            <div class="row action-bar">
                <button ng-hide="dp.vp" type="button" class="btn btn-sm btn-primary" ng-click="sendMessage()">
                    {{resourceBundle['users.sendmessage']}}
                </button>
                <export-data ng-show="iAdm" mail-id="mailId" export-type="users"
                             role="urole" n-name="search.key" mobile-phone-number="uphn" is-enabled="uactive"
                        never-logged="nvrlogged" from="from" to="to" utag="utag" v="uversion" rows="numFound"></export-data>
                <button ng-show="iSU || dp.ur" type="button" class="btn btn-sm btn-default" ng-click="deleteUsers()">
                    {{resourceBundle['remove']}}
                </button>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <div class="pull-right">
                        <div ng-include="'views/paginator.html'"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table class="table table-striped table-condensed table-hover table-logistimo" id="fixTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th><input type="checkbox" ng-change="selectAll(selAll)" ng-model='selAll'/></th>
                            <th>{{resourceBundle['serialnum']}}</th>
                            <th>{{resourceBundle['user.id']}}</th>
                            <th>{{resourceBundle['fullname.capitalise']}}</th>
                            <th>{{resourceBundle['role']}}</th>
                            <th class="col-sm-2">{{resourceBundle.tags}}</th>
                            <th>{{resourceBundle['location']}}</th>
                            <th>{{resourceBundle['phone']}}</th>
                            <th>{{resourceBundle['lastlogin']}}</th>
                            <th>&nbsp</th>
                            <th>{{resourceBundle['lastmobileaccess']}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="item in filtered = (users.results)">
                            <td><span class="glyphicons glyphicons-bring-to-front tglyph"
                                      ng-if="currentDomain != item.sdid" ng-click="switchDomain(item.sdid,item.sdname)"
                                      uib-tooltip="{{item.sdname}}"></span></td>
                            <td><input ng-if="currentDomain == item.sdid" type="checkbox" ng-model="item.selected"/>
                            </td>
                            <td class="text-center">{{offset * 1 + $index + 1}}</td>
                            <td><a href="#/setup/users/all/details?userId={{item.id}}">{{item.id}}</a>
                                <span ng-hide="item.en"> [{{resourceBundle['disabled']}}]</span>
                            </td>
                            <td>{{item.fnm}}</td>
                            <td>{{item.ro}}</td>
                            <td><div ng-logi-tags tgs="item.tgs"></div></td>
                            <td>{{getAddress(item)}}</td>
                            <td>{{item.phm}}</td>
                            <td>{{item.llStr != null ? item.llStr : resourceBundle['neverloggedin']}}</td>
                            <td><span ng-if="item.lgSrc === 1" class="glyphicons glyphicons-display" uib-tooltip="{{resourceBundle['web']}}" tooltip-placement="left"></span>
                                <span ng-if="item.lgSrc === 2" class="glyphicons glyphicons-iphone" uib-tooltip="{{resourceBundle['mob']}}" tooltip-placement="left"></span>
                                <span ng-if="item.lgSrc === 5" class="glyphicons glyphicons-iphone" uib-tooltip="{{resourceBundle['mob.mma']}}" tooltip-placement="left"></span>
                            </td>
                            <td>{{item.lrStr !=null ? item.lrStr : 'N/A'}}</td>
                            <td><a ng-show="(iSU || dp.ue) && currentDomain == item.sdid"
                                   ng-href="#/setup/users/all/edit?userId={{item.id}}"
                                   uib-tooltip="{{resourceBundle['edit']}}"><span
                                    class="glyphicons glyphicons-edit tglyph"></span></a></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-3 col-sm-offset-9">
                    <div class="pull-right">
                        <div ng-include="'views/paginator.html'"></div>
                    </div>
                </div>
            </div>

            <div class="row" ng-show="filtered.length > 10">
                <div class="col-sm-12">
                    <button ng-hide="dp.vp" type="button" class="btn btn-sm btn-primary" ng-click="sendMessage()">
                        {{resourceBundle['users.sendmessage']}}
                    </button>
                    <export-data ng-show="iAdm" mail-id="mailId" export-type="users"
                                 role="urole" n-name="search.key" mobile-phone-number="uphn" is-enabled="uactive"
                                 never-logged="nvrlogged" from="from" to="to" utag="utag" v="uversion" rows="numFound"></export-data>
                    <button ng-show="iSU || dp.ur" type="button" class="btn btn-sm btn-default" ng-click="deleteUsers()">
                        {{resourceBundle['remove']}}
                    </button>
                </div>
            </div>
        </div>
        <div class="row mt18" ng-show="noUserFound">
            <div class="col-sm-12">
                <p class=" alert alert-warning">{{resourceBundle['no.users']}}</p>
            </div>
        </div>
    </div>
</div>