<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="pane">
    <div ng-controller="AssetsDetailsListingController">
        <div class="filter-box form-group">
            <div ng-controller="ResetController">
                <div class="row">
                    <div class="col-sm-3" ng-show="!filterMin">
                        <span class="filter-label">{{resourceBundle['kiosk']}}</span>
                        <entity-select ent-model="entity" classes="form-control"></entity-select>
                    </div>
                    <div class="col-sm-3" ng-show="!filterMin">
                        <span class="filter-label">{{resourceBundle['asset.serial.number']}}</span>
                        <input name="assetId" type="text" ng-model="assetId"
                               typeahead-template-url="assetTemplate"
                               autocomplete="off"
                               typeahead-wait-ms="300"
                               uib-typeahead="item as item.dId for item in getFilteredAssets($viewValue)"
                               class="form-control" typeahead-editable="false"
                               typeahead-on-select="assetOnSelect($item)"/>
                    </div>
                    <div class="col-sm-4 pt20">
                        <span class="lPad5 filter-label">{{resourceBundle['type']}}:</span>
                        <span style="cursor: pointer" ng-click="toggleFilter()">
                            <span ng-repeat="t in multiAssetTypeFilterText track by $index"
                                  class="label label-default mt5 dinline" style="padding:.2em;">{{t}}</span>
                            <span class="caret"></span>
                        </span>
                        <div class="pop_filter_box col-sm-12 ws" id="filter_a"
                             style="margin-left:3%; background-color: #ffffff">
                            <div class="row pt10">
                                <div class="col-sm-12">
                                    <span class="codegray">All monitored assets</span>
                                    <span class="float-right dummyLink" ng-click="selectAll('md')"
                                          style="cursor: pointer">Select all</span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0" ng-repeat="(key,value) in mAssetFilters.md">
                                <div class="col-sm-12">
                                    <input type="checkbox" ng-change="toggleCB('md')" checklist-model="at_md"
                                           checklist-value="key"> {{value}}
                                </div>
                            </div>
                            <div class="separator norow"></div>
                            <div class="row" style="padding-bottom: 5px; margin-bottom: 0">
                                <div class="col-sm-12">
                                    <span class="codegray">All monitoring assets</span>
                                    <span class="float-right dummyLink" ng-click="selectAll('mg')"
                                          style="cursor: pointer">Select all</span>
                                </div>
                            </div>
                            <div class="row" style="margin-bottom: 0" ng-repeat="(key,value) in mAssetFilters.mg">
                                <div class="col-sm-12">
                                    <input type="checkbox" ng-change="toggleCB('mg')" checklist-model="at_mg"
                                           checklist-value="key"> {{value}}
                                </div>
                            </div>
                            <div class="row pb10">
                                <div class="col-sm-12">
                                    <span class="pull-right">
                                        <input type="button" class="btn btn-sm btn-primary" ng-click="applyFilter()"
                                               value="Filter">
                                        <input type="button" class="btn btn-sm btn-default" ng-click="toggleFilter()"
                                               value="Cancel">
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-3 pt20 norightpad" style="width: 26%">
                        <span class="filter-label">Relationships:</span>
                        <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="isaropen">
                            <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                                {{tempAwrDisplay}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" ng-show="isaropen">
                                <li ng-repeat="r in assetRelationFilters">
                                    <a ng-click="setAssetRelFilter(r.id)">{{r.data}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 pt20 noleftpad" style="width: 24%;">
                        <span class="lPad5 filter-label">{{resourceBundle['working.status']}}:</span>
                        <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="iswstypeeopen">
                            <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                                {{assetWSFilters[tempAssetWSFilter].dV}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" ng-show="iswstypeeopen">
                                <li ng-repeat="ws in assetWSFilters">
                                    <a ng-click="updateWorkingStatusFilter(ws.status)">{{ws.dV}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3 pt20">
                        <span class="filter-label lPad5">{{resourceBundle['alarms']}}:</span>
                        <div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="isopen">
                            <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle>
                                {{filters[tempCurrentFilter].displayValue}} <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" role="menu" ng-show="isopen">
                                <li ng-repeat="filter in filters">
                                    <a ng-click="onAlarmFilterChange(filter.value)"
                                       ng-if="isUndef(filter.type) || (isDef(currentAsset) && filter.type == currentAsset.at)">{{filter.displayValue}}</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <span ng-show="tempCurrentFilter != 0 && tempCurrentFilter != 4">
                            <form class="form-inline">
                                <div class="filter-label cbx">
                                    {{resourceBundle['asset.alarm.duration']}}
                                        <input type="text" class="form-control" ng-model="duration" maxlength="4"
                                               maxlength="50"
                                               ng-enter="onDurationFilterChange()" style="width: 33%;">
                                    <div class="btn-group btn-group-blk btn-group-top cbx" uib-dropdown>
                                        <button type="button" class="btn btn-outline dropdown-toggle"
                                                uib-dropdown-toggle>
                                            {{filterDur[tempADurationDisplay].displayValue}} <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            <li ng-repeat="fil in filterDur">
                                                <a ng-click="onDurationTypeChange(fil.index)">{{fil.displayValue}}</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </form>
                        </span>
                    </div>
                    <div class="col-sm-6">
                        <div ng-include="'views/common/reset-filters.html'"/>
                    </div>
                </div>
            </div>
        </div>
        <div class="box topbox mt5">
            <div class="row mt10">
                <div class="col-sm-12">
                <span class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </span>
                </div>
            </div>
            <table class="table table-striped table-hover mg-bottom-zero table-logistimo" id="fixTable">
                <thead>
                <tr>
                    <th></th>
                    <th>{{resourceBundle['serialnum']}}</th>
                    <th>{{resourceBundle['asset']}}</th>
                    <th ng-if="assetTypeFilterGroup == 0">{{resourceBundle['type']}}</th>
                    <th nowrap="">{{resourceBundle['working.status']}}</th>
                    <th ng-if="isDef(currentAsset)">{{resourceBundle['status']}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-show="filtered.length == 0">
                    <td class="text-center" colspan="6">
                        <div class="alert alert-warning">
                            {{resourceBundle['data.unavailable']}}
                        </div>
                    </td>
                </tr>
                <tr ng-repeat="asset in filtered" ng-show="filtered.length > 0">
                    <td><span class="glyphicons glyphicons-bring-to-front tglyph" ng-if="currentDomain != asset.sdid" ng-click="switchDomain(asset.sdid,asset.sdname)" uib-tooltip="{{asset.sdname}}"></span></td>
                    <td>
                        {{asset.sno}}
                    </td>
                    <td nowrap class="col-sm-3">
                        <div class="row">
                            <a href="#/assets/detail/{{asset.vId}}/{{encodeURIParam(asset.dId)}}">{{asset.dId}}</a> - {{asset.meta.dev.mdl}} ({{assetVendorMapping[asset.vId]}})
                        </div>
                        <div class="row mt10 litetext">
                            <a ng-href="#/setup/entities/detail/{{asset.entity.id}}" target="_blank">{{asset.entity.nm}}</a>
                            <p>{{getAddress(asset.entity)}}</p>
                        </div>
                    </td>
                    <td ng-if="assetTypeFilterGroup == 0">
                        {{assetFilters[asset.typ].dV}}
                    </td>
                    <td nowrap>
                        {{assetWSFilters[asset.ws.st + 1].dV}}
                        <p ng-show="!asset.iCon || asset.ws.stut != asset.iCon/1000" class="litetext">{{asset.ws.fstut}}</p>
                    </td>
                    <td ng-if="isDef(currentAsset) && currentAsset.at == 2">
                        <div class="row">
                            <div class="col-sm-12" ng-show="asset.tmp.length > 0">
                            <span ng-repeat="t in asset.tmp">
                                <span ng-init="relation = asset.rel" ng-include="'views/assets/asset-temp-block.html'"></span>
                            </span>
                            </div>
                        </div>
                    </td>
                    <td ng-if="isDef(currentAsset) && currentAsset.at == 1 && asset.iDa">
                        <div class="row">
                            <div class="col-sm-12">
                            <span ng-repeat="a in asset.alrm" ng-if="a.stat > 0">
                                <span ng-include="'views/assets/asset-device-alarm-block.html'"></span>
                            </span>
                            </div>
                        </div>
                    </td>
                    <td ng-if="isDef(currentAsset) && currentAsset.at == 1 && !asset.iDa">
                        <div class="row">
                            <div class="col-sm-12">
                                <span class="glyphicons glyphicons-ok-circle tglyph c-green"></span>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-sm-12">
                <span class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </span>
                </div>
            </div>
        </div>
    </div>
</div>
