<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="pane">
    <div ng-controller="AccountsListController">
        <div class="filter-box form-group">
            <div ng-controller="ResetController">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="filter-label required">{{resourceBundle.kiosk}}</span>
                        <entity-select ent-model="entity" classes="form-control"
                                       place-holder="{{resourceBundle.filterby}} {{resourceBundle['kiosks.lower']}}"></entity-select>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['year']}}</span>
                        <select id="yr" ng-model="yr" class="form-control">
                            <option ng-repeat="year in act.years" value="{{year}}">{{year}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['sortby']}}</span>
                        <select ng-show="subview === 'receivable'" ng-model="sb" class="form-control">
                            <option value="pyb">{{resourceBundle['receivable']}}</option>
                            <option value="ent">{{resourceBundle['customer']}}</option>
                        </select>
                        <select ng-show="subview === 'payable'" ng-model="sb" class="form-control">
                            <option value="pyb">{{resourceBundle['payable']}}</option>
                            <option value="ent">{{resourceBundle['vendor']}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3 pt20">
                        <div ng-include="'views/common/reset-filters.html'"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right pt10">
                    <div ng-include="'views/paginator.html'"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-hide="noDataFound" class="col-sm-12">
                <table class="table table-striped table-condensed table-hover table-logistimo">
                    <tbody>
                    <tr>
                        <th>{{resourceBundle['serialnum']}}</th>
                        <th>
                            <p ng-show="subview === 'receivable'">{{resourceBundle['customer']}}</p>

                            <p ng-show="subview === 'payable'">{{resourceBundle['vendor']}}</p>
                        </th>
                        <th>
                            <p ng-show="subview === 'receivable'">{{resourceBundle['amount']}}
                                {{resourceBundle['receivable']}} ({{actDet[0].cur}}) </p>

                            <p ng-show="subview === 'payable'">{{resourceBundle['amount']}}
                                {{resourceBundle['payable']}} ({{actDet[0].cur}})</p>
                        </th>
                        <th>{{resourceBundle['availablecredit']}} ({{actDet[0].cur}})</th>
                    </tr>
                    <tr ng-repeat="item in filtered = actDet">
                        <td>{{item.sno}}</td>
                        <td>{{item.name}}<span class = "litetext">{{item.add}}</span></td>
                        <td>{{item.npay}}</td>
                        <td>{{item.bal}}</td>
                    </tr>
                    <tr class="text-bold">
                        <td></td>
                        <td>{{resourceBundle['total']}}</td>
                        <td>{{tot}}</td>
                        <td></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div ng-show="noDataFound" class="col-sm-12">
                <p class="alert alert-warning" ng-hide="entity==null">{{resourceBundle['nodataavailable']}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </div>
            </div>
        </div>
    </div>
</div>