<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->
<div class="box topbox">
    <div ng-controller="ApprovalsCtrl">
        <div class="filter-box form-group">
            <div ng-controller="ResetController">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="filter-label" ng-class="{'required':mxE}">{{resourceBundle.kiosk}}</span>
                        <entity-select ent-model="entity" classes="form-control"
                                       place-holder="{{resourceBundle.filterby}} {{resourceBundle['kiosks.lower']}}"
                                       disable="isDef(ordId) || isDef(reqId) || isDef(aprId)"></entity-select>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['order']}}</span>

                        <div class="has-feedback">
                            <input type="text" class="form-control" ng-model="orderId" autocomplete="off"
                                   typeahead-wait-ms="300"
                                   placeholder="{{resourceBundle['ord.num']}}"
                                   uib-typeahead="val for val in getSuggestions($viewValue,'oid')"
                                   typeahead-loading="loadingOrderId" typeahead-on-select="showOrder(orderId)"
                                   ng-disabled="isDef(entity) || isDef(reqId) || isDef(aprId)">
                            <span ng-show="loadingOrderId" class="form-control-feedback typehead-loading"
                                  aria-hidden="true"> <span class="glyphicons glyphicons-cogwheel spin"></span> </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['approvals.request.status']}}</span>
                        <select class="form-control" ng-model="reqStatus">
                            <option value="">{{resourceBundle.all}}</option>
                            <option value="pn">{{resourceBundle['approvals.pending']}}</option>
                            <option value="cn">{{resourceBundle['approvals.cancelled']}}</option>
                            <option value="rj">{{resourceBundle['approvals.rejected']}}</option>
                            <option value="ap">{{resourceBundle['approvals.approved']}}</option>
                            <option value="ex">{{resourceBundle['approvals.expired']}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3" ng-show="reqStatus == 'pn'">
                        <span class="filter-label">{{resourceBundle['approvals.expiry']}}</span>
                        <input type="text" class="form-control" ng-model="exp" autocomplete="off" placeholder="{{resourceBundle['approvals.expiry.in.hours']}}"
                               only-digits>
                    </div>
                </div>
                <div class="row" ng-show="showMore" style="margin-bottom: 15px;">
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['approvals.request.type']}}</span>
                        <select class="form-control" ng-model="reqType"
                                ng-disabled="isDef(reqId) || isDef(aprId)">
                            <option value="">{{resourceBundle.all}}</option>
                            <option value="1">{{resourceBundle['approvals.purchase']}}</option>
                            <option value="2">{{resourceBundle['order.sales']}}</option>
                            <option value="0" ng-hide="iMan">{{resourceBundle['approvals.transfer']}}</option>
                        </select>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['approvals.requester']}}</span>

                        <div class="has-feedback">
                            <input type="text" ng-model="reqId" name="requesterId"
                                   autocomplete="off"
                                   placeholder="{{resourceBundle['approvals.requester']}}"
                                   typeahead-wait-ms="300"
                                   ng-class="{'c-visited' : submitted}"
                                   typeahead-on-select="goToRequester(reqId)"
                                   uib-typeahead="usr as usr for usr in  getFilteredRequesters($viewValue) | limitTo:8"
                                   class="form-control" typeahead-editable="false"
                                   ng-disabled="isDef(ordId)"/>
                            <span ng-show="loadingRequesterId" class="form-control-feedback typehead-loading"
                                  aria-hidden="true">
                                <span class="glyphicons glyphicons-cogwheel spin"></span>
                            </span>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['approvals.approver']}}</span>

                        <div class="has-feedback">
                            <input type="text" ng-model="aprId" name="approverId"
                                   autocomplete="off"
                                   placeholder="{{resourceBundle['approvals.approver']}}"
                                   typeahead-wait-ms="300"
                                   ng-class="{'c-visited' : submitted}"
                                   typeahead-on-select="goToApprover(aprId)"
                                   uib-typeahead="usr as usr for usr in  getFilteredApprovers($viewValue) | limitTo:8"
                                   class="form-control" typeahead-editable="false"
                                   ng-disabled="isDef(ordId)"/>
                            <span ng-show="loadingApproverId" class="form-control-feedback typehead-loading"
                                  aria-hidden="true">
                                <span class="glyphicons glyphicons-cogwheel spin"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <div ng-include="'views/common/reset-filters.html'"/>
            </div>
        </div>
        <div class="row">
            <div ng-hide="showMore">
                <div class="col-sm-12">
                    <span class="glyphicons glyphicons-chevron-down medium filter-expand"
                          ng-click="showMore = true"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div ng-show="showMore">
                <div class="col-sm-12">
                    <span class="glyphicons glyphicons-chevron-up medium filter-expand"
                          ng-click="showMore = false"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </div>
                <div class="pull-right" style="padding-top: 10px;"></div>
            </div>
        </div>
        <div class="row" ng-show="filtered.length > 0">
            <div class="col-sm-12">
                <table class="table table-condensed table-hover table-logistimo" id="fixTable">
                    <thead>
                    <tr>
                        <th class="text-center">{{resourceBundle['serialnum']}}</th>
                        <th class="text-center">{{resourceBundle['order']}}</th>
                        <th>{{resourceBundle['approvals.type']}}</th>
                        <th>{{resourceBundle['customer']}}</th>
                        <th>{{resourceBundle['vendor.uppercase']}}</th>
                        <th>{{resourceBundle['approvals.request.status']}}</th>
                        <th>{{resourceBundle['approvals.requester']}}</th>
                        <th>{{resourceBundle['approvals.approver']}}(s)</th>
                    </tr>
                    </thead>
                    <tbody ng-repeat="item in filtered" ng-controller="NoController" data-ng-switch
                           on="showApproval[$index]">
                    <tr class="clickable">
                        <td class="text-center">{{$index + offset * 1 + 1}}</td>
                        <td ng-click="toggle($index)" class="text-center"><a
                                href="#/orders/detail/{{item.order.orderId}}/"
                                target="_blank">{{item.order.orderId}}</a></td>
                        <td ng-click="toggle($index)" ng-show="item.approval_type == 1">{{resourceBundle['approvals.purchase']}}</td>
                        <td ng-click="toggle($index)" ng-show="item.approval_type == 2">
                            {{resourceBundle['order.sales']}}
                        </td>
                        <td ng-click="toggle($index)" ng-show="item.approval_type == 0">{{resourceBundle['approvals.transfer']}}</td>
                        <td ng-click="toggle($index)"><a href="#/setup/entities/detail/{{item.order.customer.id}}/"
                                                         target="_blank">{{item.order.customer.name}}</a><span
                                class="litetext">{{item.order.customer.address}}</span></td>
                        <td ng-click="toggle($index)"><a href="#/setup/entities/detail/{{item.order.vendor.id}}/"
                                                         target="_blank">{{item.order.vendor.name}}</a><span
                                class="litetext">{{item.order.vendor.address}}</span></td>
                        <td ng-click="toggle($index)">
                            <span ng-show="item.status.status == 'pn'">{{resourceBundle['approvals.pending']}}</span>
                            <span ng-show="item.status.status == 'rj'">{{resourceBundle['approvals.rejected']}}</span>
                            <span ng-show="item.status.status == 'cn'">{{resourceBundle['approvals.cancelled']}}</span>
                            <span ng-show="item.status.status == 'ap'">{{resourceBundle['approvals.approved']}}</span>
                            <span ng-show="item.status.status == 'ex'">{{resourceBundle['approvals.expired']}}</span>
                            <span class="litetext" ng-show="item.status.status == 'cn'">
                                <a href="#/setup/users/all/details?userId={{item.status.updated_by}}">{{item.status.name}}</a>
                            </span>
                            <span class="litetext">{{item.status.updated_at | formatDate:this }}</span>
                                <span class="litetext" ng-if="item.status.status == 'pn'">{{resourceBundle['approvals.expiry']}}: <span
                                        class="c-red">{{item.expires_at | fromNow:this}}</span></span>
                        </td>
                        <td ng-click="toggle($index)"><a
                                ng-href="#/setup/users/all/details?userId={{item.requester.user_id}}" target="_blank">{{item.requester.name}}</a>
                            <span class="litetext">{{item.created_at | formatDate:this}}</span></td>
                        <td ng-click="toggle($index)">
                                <span ng-show="'pn' == item.status.status || 'ex' == item.status.status || 'cn' == item.status.status">
                                    <span class="litetext">{{resourceBundle['approvals.sent.to']}}:</span>
                                    <span ng-repeat="it in item.approvers">
                                        <span ng-show="('pn' == item.status.status && it.approver_status == 'ac') || ('ex' == item.status.status && it.approver_status == 'ex') || 'cn' == item.status.status">
                                            <span ng-hide="$index == item.approvers.length - 1"><a href="#/setup/users/all/details?userId={{it.user_id}}">{{it.name}}</a>,&nbsp;</span>
                                            <span ng-show="$index == item.approvers.length - 1"><a href="#/setup/users/all/details?userId={{it.user_id}}">{{it.name}}</a></span>
                                        </span>
                                    </span>
                                </span>
                                <span ng-show="item.status.status == 'rj' || item.status.status == 'ap'">
                                    <a href="#/setup/users/all/details?userId={{item.status.updated_by}}">{{item.status.name}}</a>
                                </span>
                        </td>
                    </tr>
                    <tr data-ng-switch-when="true">
                        <td colspan="100%" class="partialview">
                            <div ng-init="view='views/orders/approval-detail.html'; order = item.order; orderId = item.order.orderId;
                            id = item.approval_id; type = item.order.type; count = 1; index = $index ;"
                                 ng-include="'views/partial.html'">
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row mt5" ng-show="filtered.length == 0">
            <div class="col-sm-12">
                <p class=" alert alert-warning">
                    {{resourceBundle['approvals.nil']}}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="pull-right">
                    <div ng-include="'views/paginator.html'"></div>
                </div>
                <div class="pull-right" style="padding-top: 10px;"></div>
            </div>
        </div>
    </div>
</div>
