<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="SimpleEntityDemandListingsCtrl">
	<div id="content" class="info-window-content">
		<h3 id="firstHeading" class="firstHeading"><a ng-href="#/setup/entities/detail/{{parameter.item.id}}" target="_blank">{{parameter.item.nm}}{{parameter.item.loc}}</a></h3>
		<hr />
		<div id="bodyContent">
			<div class="row">
				<div class="col-sm-12">
					<div class="pull-right"  ng-hide="loading">
						<div ng-include="'views/paginator.html'"></div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<table ng-hide="loading || demand.results.length == 0" 
						class="table table-condensed table-hover table-logistimo"
						width="80%">
						<tbody>
							<tr>
								<th></th>
								<th ng-repeat="col in metadata">{{resourceBundle[col.title]}}</th>
							</tr>
							<tr
								ng-repeat="item in filtered = (demand.results)">
								<td><span class="glyphicons glyphicons-bring-to-front tglyph" ng-if="currentDomain != item.sdid" ng-click="switchDomain(item.sdid,item.sdname)" uib-tooltip="{{item.sdname}}" tooltip-append-to-body="true" tooltip-placement="right"></span></td>
								<td>{{item.sno}}</td>
								<td>{{item.nm}}</td>
								<td>{{item.q}}</td>
								<td>{{item.ts}}</td>
							</tr>
						</tbody>
					</table>
					<p ng-hide="loading || demand.results.length > 0" class="alert alert-warning">{{resourceBundle['materials.demandnone']}}</p>
				</div>
			</div>
		</div>
	</div>
</div>