<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="StockBatchTransactionCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <b>{{resourceBundle['batches.of']}} {{mnm}}</b>
        </div>
        <div class="panel-body" ng-show="loading">
            <span class="glyphicons glyphicons-cogwheel spin"></span>
        </div>
        <div class="panel-body" ng-show="!loading">
            <div class="bizinfo">
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-striped table-condensed table-bordered">
                            <thead>
                            <tr>
                                <th class="col-sm-1 text-center">{{resourceBundle['serialnum']}}</th>
                                <th class="col-sm-2 required">{{resourceBundle['batchid']}}</th>
                                <th class="col-sm-2">{{resourceBundle['manufactured']}} (dd/mm/yyyy)</th>
                                <th class="col-sm-2 required">{{resourceBundle['manufacturer']}}</th>
                                <th class="col-sm-2"><span class="required">{{resourceBundle['expiry']}}</span> (dd/mm/yyyy)</th>
                                <th class="col-sm-1 text-center">
                                    {{resourceBundle['material.stockonhand']}}
                                </th>
                                <th class="text-center" ng-show="ordersTabEnabled && allocate"> {{resourceBundle['allocated']}}</th>
                                <th class="col-sm-1 text-center" ng-if="ordersTabEnabled">
                                    {{resourceBundle['available.stock']}}
                                </th>
                                <th class="col-sm-1 required">{{resourceBundle['quantity']}}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody ng-repeat="item in batchDet">
                            <tr>
                                <td><p class="text-center">{{$index+1}}</p></td>
                                <td><p class="temp">{{item.bid}}</p></td>
                                <td><p class="temp">{{item.bmfdt}}</p></td>
                                <td><p class="temp">{{item.bmfnm}}</p></td>
                                <td><p class="temp">{{item.bexp}}</p></td>
                                <td class="text-center">
                                    <p class="temp">{{item.q}}</p>
                                </td>
                                <td class="text-center" ng-show="ordersTabEnabled && allocate"> {{item.astk}}</td>
                                <td class="text-center" ng-if="ordersTabEnabled">
                                    <p class="temp">{{item.atpstk}}</p>
                                </td>
                                <td>
                                    <input type="text" ng-model="item.quantity" class="form-control" maxlength="12" only-digits
                                           ng-class="{'red-border':item.invalidPopup}"
                                           uib-popover="{{item.popupMsg}}"
                                           ng-focus="togglePopup(item,item.bid,'hidepopup')"
                                           ng-blur="togglePopup(item,item.bid)" id="b{{mid}}{{item.bid}}" popover-trigger="showpopup"/>
                                    <div ng-show="item.quantity > 0" class="mt5" >
                                        <span class="litetext" ng-class="{'required' : msm}" ng-show="(!material.ts && isDef(matstatus)) || (material.ts && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                                        <select ng-hide="material.ts || isUndef(matstatus)" ng-model="item.mst" class="form-control"
                                                ng-class="{'red-border': item.ainvalidPopup}"
                                                uib-popover="{{item.aPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; togglePopup(item,item.bid)"
                                                ng-focus="togglePopup(item,item.bid,'hidepopup', 'sbtm')"
                                                id="sbtm{{mid}}{{item.bid}}"
                                                tabindex="{{$index+100}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="stats in matstatus track by $index" value="{{stats}}" ng-selected="item.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower'] }}</option>
                                        </select>
                                        <select ng-show="material.ts && isDef(tempmatstatus)" ng-model="item.mst" class="form-control"
                                                ng-class="{'red-border': item.ainvalidPopup}"
                                                uib-popover="{{item.aPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; togglePopup(item,item.bid)"
                                                ng-focus="togglePopup(item,item.bid,'hidepopup', 'sbtmt')"
                                                id="sbtmt{{mid}}{{item.bid}}"
                                                tabindex="{{$index+100}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}" ng-selected="item.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower'] }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td></td>
                            </tr>
                            <tr ng-show="batchDet.length === 0">
                                <td colspan=100%>
                                    <p class="alert alert-warning">{{resourceBundle['nobatchesavailable']}}</p>
                                </td>
                            </tr>
                            </tbody>
                            <tbody ng-repeat="item in batchNewDet">
                            <tr>
                                <td><p class="text-center">{{(batchDet.length)+$index+1}}</td>
                                <td >
                                    <input type="text" ng-model="item.bid" class="form-control" maxlength="50" ng-blur="checkBatchExists(item.bid, $index)" ng-class="{'red-border': exists[$index] == true}" upper-case no-double-quotes/>
                                </td>
                                <td >
                                    <date-picker min-mode="day" date-model="item.bmfdt" max-date="today" mode="'month'"></date-picker>
                                </td>
                                <td >
                                    <input type="text" ng-model="item.bmfnm" class="form-control" maxlength="50"/>
                                </td>
                                <td >
                                    <date-picker min-mode="day" date-model="item.bexp" min-date="today" mode="'month'"></date-picker>
                                </td>
                                <td></td>
                                <td ng-show="ordersTabEnabled && allocate"></td>
                                <td ng-if="ordersTabEnabled"></td>
                                <td>
                                    <input only-digits type="text"  ng-model="item.quantity" class="form-control" maxlength="50"
                                           ng-class="{'red-border':item.invalidPopup}"
                                           uib-popover="{{item.popupMsg}}"
                                           ng-focus="togglePopup(item,$index,'hidepopup')"
                                           ng-blur="togglePopup(item,$index)" id="b{{mid}}{{$index}}" popover-trigger="showpopup"/>
                                    <div ng-show="item.quantity > 0" class="mt5" >
                                        <span class="litetext" ng-class="{'required' : msm}" ng-show="(!material.ts && isDef(matstatus)) || (material.ts && isDef(tempmatstatus))">{{resourceBundle['inventory.material.status']}}</span>
                                        <select ng-hide="material.ts || isUndef(matstatus)" ng-model="item.mst" class="form-control"
                                                ng-class="{'red-border': item.ainvalidPopup}"
                                                uib-popover="{{item.aPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; togglePopup(item,$index)"
                                                ng-focus="togglePopup(item,$index,'hidepopup', 'sbtm')"
                                                id="sbtm{{mid}}{{$index}}"
                                                tabindex="{{$index+100}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="stats in matstatus track by $index" value="{{stats}}" ng-selected="item.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower'] }}</option>
                                        </select>
                                        <select ng-show="material.ts && isDef(tempmatstatus)" class="form-control" ng-model="item.mst"
                                                ng-class="{'red-border': item.ainvalidPopup}"
                                                uib-popover="{{item.aPopupMsg}}"
                                                ng-blur="item.isVisitedStatus = true; togglePopup(item,$index)"
                                                ng-focus="togglePopup(item,$index,'hidepopup', 'sbtmt')"
                                                id="sbtmt{{mid}}{{$index}}"
                                                tabindex="{{$index+100}}"
                                                popover-trigger="showpopup">
                                            <option ng-repeat="stats in tempmatstatus track by $index" value="{{stats}}" ng-selected="item.mst == stats">{{stats || resourceBundle['select'] + " " + resourceBundle['status.lower'] }}</option>
                                        </select>
                                    </div>
                                </td>
                                <td class="text-center">
                                    <a href="" ng-click="deleteRow($index)">
                                        <span class="glyphicons glyphicons-bin temp"></span>
                                    </a>
                                </td>
                            </tr>
                            <tr ng-show="exists[$index]">
                                <td colspan=100%>
                                    <p class="alert alert-warning">{{resourceBundle['bid.dup']}}</p>
                                </td>
                            </tr>
                            </tbody>
                            <tbody>
                            <tr>
                                <td class="col-sm-1" colspan="100%">
                                    <button ng-click="addRow()" class="btn btn-sm btn-primary"> + </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div ng-show="isDef(type) && type == 'p'" class="col-sm-4">
                        <button ng-click="clearBatchTrans()" class="btn btn-sm btn-default">{{resourceBundle['clearbatches']}}</button>
                    </div>
                    <div ng-class="{'col-sm-8':isDef(type) && type == 'p','col-sm-12':type != 'p'}">
                        <div class="pull-right">
                            <button ng-disabled="invalidPopup != 0" ng-click="saveStockBatchTrans()" class="btn btn-sm btn-primary">{{resourceBundle['save']}}</button>
                            <button ng-click="toggle($index)" class="btn btn-sm btn-default">{{resourceBundle['cancel']}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>