<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox">
    <div ng-controller="InventoryCtrl">
        <div class="fc-color-grey text-center" style="text-align: center;" ng-show="loading">{{resourceBundle['loading']}}...
            <span class="pt2 glyphicons glyphicons-cogwheel spin"></span>
        </div>
        <div ng-hide="loading">
            <div ng-show="showFilters">
                <div class="filter-box filter-box-fit">
                    <div ng-controller="ResetController">
                        <div class="row">
                            <div class="col-sm-3">
                                <span class="filter-label">{{resourceBundle['material']}} {{resourceBundle['tag.lower']}}:</span>
                                <tag-filter ng-model="mtag" tag-type="material"></tag-filter>
                            </div>
                        </div>
                        <fieldset ng-disabled="loading" ng-include="'views/common/reset-filters.html'"/>
                    </div>
                </div>
                <div class="row action-bar">
                    <div class="col-sm-12">
                        <export-data mail-id="mailId" batch-enabled="true"
                                     entity-id="entityId"
                                     mat-id="mid" entity-name="entity.nm" m-name="material.mnm"
                                     ebf="ebf" export-type="inventory" rows="numFound"></export-data>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-8">
                    <div class="title-heading marginlr0" ng-hide="showFilters || isUndef(entity.nm)">
                        <a ng-href="#/setup/entities/detail/{{entity.id}}/" target="_blank">{{entity.nm}}</a>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <div ng-include="'views/paginator.html'"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-12">
                    <table
                            class="table table-condensed table-hover table-striped table-logistimo" id="fixTable">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-center">{{resourceBundle['serialnum']}}</th>
                            <th ng-if="showFullAbnormalStock || (locationSelected && (entity.id == null || entity.id == ''))">
                                {{resourceBundle['kiosk']}}
                            </th>
                            <th>{{resourceBundle['material']}}</th>
                            <th class="text-center">{{resourceBundle['material.stockonhand']}}</th>
                            <th></th>
                            <th class="text-center" ng-show="allocate && ordersTabEnabled">
                                {{resourceBundle['allocated']}}
                            </th>
                            <th class="text-center" ng-show="allocate && ordersTabEnabled">
                                {{resourceBundle['available']}}
                            </th>
                            <th class="text-center" ng-show="allocate && ordersTabEnabled">
                                {{resourceBundle['intransit']}}
                            </th>
                            <th class="text-center" ng-show="invCnf.cr"><p class="capbold" style="display: inline;">
                                {{invCnf.cu}}</p> {{resourceBundle['of']}} {{resourceBundle['stock.lowercase']}}
                            </th>
                            <th class="text-center">{{resourceBundle['inventory.reorderlevel']}}<span ng-if="mmd"
                                                                                                      class="litetext">{{mmd}}</span>
                            </th>
                            <th class="text-center">{{resourceBundle['max']}}<span ng-if="mmd"
                                                                                   class="litetext">{{mmd}}</span></th>
                            <th>{{resourceBundle['lastupdated']}}</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="item in filtered = (inventory.results | filter:search |
                                                    filter: {event: searchAlert}  | orderBy:sortBy:sortAsc)"
                               data-ng-switch on="exRow[$index]">

                        <tr ng-class=" {'alert alert-danger':item.event == 200,
                                                    'alert alert-info alert-info-dark':item.event == 202,
                                                    'alert alert-warning alert-warning-dark':item.event == 201}">
                            <td><span class="glyphicons glyphicons-bring-to-front tglyph"
                                      ng-if="currentDomain != item.sdid" ng-click="switchDomain(item.sdid,item.sdname)"
                                      uib-tooltip="{{item.sdname}}"></span></td>
                            <td class="text-center">{{item.sno}}</td>
                            <td ng-if="showFullAbnormalStock || (locationSelected && (entity.id == null || entity.id == ''))">
                                <a ng-href="#/setup/entities/detail/{{item.kId}}"
                                   target="_blank">{{item.enm}}</a></td>
                            <td><a href="#/setup/materials/all/detail/{{item.mId}}/" target="_blank">{{item.mnm}}</a>
                            </td>
                            <td class="text-center">{{item.stk |roundNoTrailZeros:2}}
                                <div ng-if="isDef(item.period)" class="small">{{item.period | timeStr:false:true}}</div>
                            </td>
                            <td class="text-center">
                                <div ng-show="item.be" class="clickable" ng-click="select($index,'batch')"><span
                                        class="glyphicons glyphicons-list-alt"
                                        uib-tooltip="{{resourceBundle['batch']}}"></span></div>
                            </td>
                            <td class="text-center" ng-show="allocate && ordersTabEnabled">{{item.astk
                                |roundNoTrailZeros:2}}
                                <span ng-show="item.astk > 0"
                                      ng-class="{'glyphicons glyphicons-expand pt2': !expand[$index],'glyphicons glyphicons-collapse-top pt2': expand[$index]}"
                                      ng-click="select($index,'allocated')"></span>
                            </td>
                            <td class="text-center" ng-show="allocate && ordersTabEnabled">{{item.atpstk
                                |roundNoTrailZeros:2}}
                            </td>
                            <td class="text-center" ng-show="allocate && ordersTabEnabled">{{item.tstk
                                |roundNoTrailZeros:2}}
                                <span ng-show="item.tstk > 0"
                                      ng-class="{'glyphicons glyphicons-expand pt2': !expand[$index],'glyphicons glyphicons-collapse-top pt2': expand[$index]}"
                                      ng-click="select($index,'transit')"></span>
                            </td>
                            <td class="text-center" ng-show="invCnf.cr">
                                <div class="inline">
                                    {{item.sap>0?(item.sap | roundNoTrailZeros:2) :"NA"}}
                                    <div class="clickable" ng-click="select($index,'inventory')" ng-show="item.sap>0">
                                        <span ng-show="exRow[$index] === 'inventory'"
                                              class="glyphicons glyphicons-collapse-top"></span>
                                        <span ng-show="exRow[$index] !== 'inventory'"
                                              class="glyphicons glyphicons-expand"></span>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center">
                                <div style="display: inline-block;">{{item.reord}}
                                    <span ng-show="mmdt && item.minDur > 0"
                                          class="litetext">{{item.minDur}} {{mmdt}}</span></div>
                                <span ng-class="{'glyphicons glyphicons-expand pt2': !expand[$index],'glyphicons glyphicons-collapse-top pt2': expand[$index]}"
                                      ng-click="select($index,'minMaxHistory')"></span>
                            </td>
                            <td class="text-center">
                                <div style="display: inline-block;"> {{item.max}}
                                    <span ng-show="mmdt && item.maxDur > 0"
                                          class="litetext">{{item.maxDur}} {{mmdt}}</span></div>
                                <span ng-class="{'glyphicons glyphicons-expand pt2': !expand[$index],'glyphicons glyphicons-collapse-top pt2': expand[$index]}"
                                      ng-click="select($index,'minMaxHistory')"></span>
                            </td>
                            <td>{{item.t}}</td>
                            <td class="text-center">
                                <span ng-show="iPredEnabled && item.sap > 0 && item.pdos < 8"
                                      ng-click="select($index,'inventory')"
                                      class="glyphicon glyphicon-warning-sign rPad5 clickable fc-color-orange"
                                      uib-tooltip="Likely to stock out within the next 7 days"></span>
                                <a ng-show="iPredEnabled && ordersTabEnabled && item.sap > 0 && item.pdos<8"
                                   href="#/orders/add/?eid={{item.kId}}&mid={{item.mId}}" target="_blank">
                                    <span class="glyphicon glyphicon-shopping-cart clickable rPad5"
                                          uib-tooltip="Place order"></span>
                                </a>
                                <span ng-if="item.eventType !== -1" class="glyphicons glyphicons-history clickable"
                                      ng-click="select($index,'history')"
                                      uib-tooltip="{{resourceBundle['history']}}"></span>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="batch">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/view-batch.html' ; mnm = item.mnm ; mid = item.mId ; kid = item.kId ; index = $index ; showAll = true;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="temp">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/view-temp.html' ; mnm = item.mnm ; mid = item.mId; kid = item.kId; index = $index; enm = item.enm;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="history">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/view-history.html' ; mnm = item.mnm ; et=item.eventType; index = $index ; url='/s2/api/inventory/history?type=stev&kioskid='+item.kId+'&materialid='+item.mId+'&eventtype='+item.eventType+'&size=50'; color=item.cColor; heading=item.cHeading"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="inventory">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/view-message.html' ; mid = item.mId ; kid = item.kId ; index = $index ; min = item.reord; max = item.max;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="minMaxHistory">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/min-max-history.html' ; invid = item.invId; mid = item.mId ; mnm = item.mnm ; index = $index ; min = item.reord; max = item.max;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="allocated">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/inv-bd-table.html'; bdType='allocation'; kid = item.kId;  mid = item.mId ; mnm = item.mnm ; index = $index ;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        <tr data-ng-switch-when="transit">
                            <td colspan=100% class="partialview">
                                <div ng-init="view='views/inventory/inv-bd-table.html'; bdType='transit'; kid = item.kId; mid = item.mId ; mnm = item.mnm ; index = $index ;"
                                     ng-include="'views/partial.html'"></div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <p class="alert alert-warning" ng-show="(!showFullAbnormalStock && resSize < 1)">
                        {{resourceBundle['materials.none']}}</p>
                </div>
                <div class="col-sm-12">
                    <p class=" alert alert-warning" ng-show="!loading && resSize == 0 && showFullAbnormalStock">
                        {{resourceBundle['nodataavailable']}}</p>
                </div>
            </div>
            <div class="row" ng-show="resSize>0">
                <div class="col-sm-8">
                    <div ng-include="'views/inventory/inv-event-legend.html'"></div>
                </div>
                <div class="col-sm-4">
                    <div class="pull-right">
                        <div ng-include="'views/paginator.html'"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


