<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="pane">
    <div ng-controller="StockViewsController">
        <div class="filter-box form-group">
            <div ng-controller="ResetController">
                <div class="row">
                    <div class="col-sm-3">
                        <span class="filter-label" ng-class="{'required':mxE}" >{{resourceBundle.kiosk}}</span>
                        <entity-select ent-model="entity" classes="form-control"
                                       place-holder="{{resourceBundle.filterby}} {{resourceBundle['kiosks.lower']}}"
                                       disable="isDef(material.mId) || isDef(ebf) || isDef(etag) || isDef(eetag)">
                        </entity-select>
                    </div>
                    <div class="col-sm-3"
                         ng-hide="showEntityFilter">
                        <span class="filter-label">{{resourceBundle.material}}</span>
                        <material-select mat-model="material" classes="form-control"
                                         place-holder="{{resourceBundle.filterby}} {{resourceBundle['materials.lowercase']}}"
                                         disable="isDef(entity.id) || isDef(mtag) || (isDef(ebf) && material.b !='yes' ) || mxE "></material-select>
                    </div>
                    <div class="col-sm-3">
                        <span class="filter-label">{{resourceBundle['abnormality.type']}}</span>
                        <select ng-model="abntype" class="form-control">
                            <option value=''>-- Select --</option>
                            <option value="200">
                                {{resourceBundle['inventory.zerostock']}}
                            </option>
                            <option value="201">
                                {{resourceBundle['inventory.lessthanmin']}}
                            </option>
                            <option value="202">
                                {{resourceBundle['inventory.morethanmax']}}
                            </option>
                        </select>
                    </div>
                    <div class="col-sm-2" ng-show="isDef(abntype)">
                        <span class="filter-label">{{resourceBundle['abnormality.duration']}}</span>
                        <div class="input">
                            <input type="text" placeholder=">= days" class="form-control" ng-model="abndur"
                                   maxlength="5" only-digits ng-enter="onAbnDurationChanged()">
                            <!--<span class="input-group-btn">
                                <button class="btn btn-default" type="button" ng-click="onAbnDurationChanged()"
                                        tooltip="{{resourceBundle['search']}}">
                                    <span class="glyphicons glyphicons-search"></span>
                                </button>
                            </span>-->
                            </input>
                        </div>
                    </div>
                </div>
                <div ng-show="showMore">
                    <div class="row mt18">
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['expires.before']}}</span>
                            <date-picker
                                    mode="'month'" min-mode="day"
                                    disabled="( isDef(material.mId) && material.b != 'yes' ) || isDef(entity.id) || isDef(bno) || mxE || isDef(abntype)"
                                    date-picker-read-only="(isUndef(entity.id) && ( isUndef(material.mId) || material.b == 'yes' ) && isUndef(bno) && isUndef(abntype))"
                                    date-model="ebf"></date-picker>
                        </div>
                        <div class="col-sm-3" ng-show="material.b == 'yes' && isUndef(abntype)">
                            <span class="filter-label">{{resourceBundle['batch']}}</span>
                            <div class="input">
                                <input type="text" class="form-control" ng-model="bno"
                                       placeholder=" " ng-disabled="isDef(ebf) || isDef(abntype)"
                                       upper-case>
                            </div>
                        </div>
                        <div ng-show="(isDef(entity.id)) && isUndef(abntype) && isUndef(bno) && isUndef(ebf)" class="col-sm-3 mh25"> <!--isDef(material.mId)-->
                            <span class="filter-label">{{resourceBundle['batchenabled']}}</span>
                            <select class="form-control" ng-model="matType">
                                <option value="0">{{resourceBundle['all']}}</option>
                                <option value="1">{{resourceBundle['onlybatchenabled.materials']}}</option>
                                <option value="2">{{resourceBundle['onlynonbatch.materials']}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['state']}}</span>
                            <location-select ng-disabled="isDef(entity)" place-holder="{{resourceBundle['filterby']}} {{resourceBundle['state']}}"
                                             filter-model="loc" filter-type="state">
                            </location-select>
                        </div>
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['district']}}</span>
                            <location-select ng-disabled="isDef(entity)" place-holder="{{resourceBundle['filterby']}} {{resourceBundle['district']}}"
                                             filter-model="loc" filter-type="district">
                            </location-select>
                        </div>
                        <div class="col-sm-3">
                            <span class="filter-label">{{resourceBundle['taluk']}}</span>
                            <location-select ng-disabled="isDef(entity)" place-holder="{{resourceBundle['filterby']}} {{resourceBundle['taluk']}}"
                                             filter-model="loc" filter-type="taluk">
                            </location-select>
                        </div>
                        <div class="col-sm-2"
                             ng-show="isUndef(abntype) && isUndef(bno) && isUndef(ebf) &&
                             (isDef(entity) || isDef(material) || isDef(loc.state) || isDef(loc.district) || isDef(loc.taluk))">
                            <span class="filter-label">Likely to stock out (days)</span>
                            <div class="input">
                                <input only-digits max-length="5" type="text" class="form-control" ng-model="tpdos">
                                <!--<span class="input-group-btn">
                                    <button class="btn btn-default" ng-click="getPDOSData()" type="button" tooltip="{{resourceBundle['search']}}">
                                        <span class="glyphicons glyphicons-search"></span>
                                    </button>
                                </span>-->
                            </div>
                        </div>
                    </div>
                    <div class="row mt18">
                        <div ng-hide="iAU || isDef(entity.id)" class="col-sm-5">
                            <multiple-tags-filter type="'entity'" name="kiosk" disabled="isDef(entity.id)" included-tags="etag" excluded-tags="eetag" show-excluded="true"></multiple-tags-filter>
                        </div>
                        <div ng-hide="iAU || isDef(material.mId)" class="col-sm-5">
                            <multiple-tags-filter type="'material'" name="material" disabled="isDef(material.mId)" included-tags="mtag" show-excluded="false"></multiple-tags-filter>
                        </div>
                    </div>
                </div>
                <fieldset ng-disabled="loading" ng-include="'views/common/reset-filters.html'"/>
            </div>
        </div>
        <div ng-show="iAdm">
            <div class="row" ng-hide="showMore">
                <div class="col-sm-12 ">
                    <span class="glyphicons  glyphicons-chevron-down medium filter-expand"  ng-click="setShowMore(true)" ></span>
                </div>
            </div>
            <div class="row" ng-show="showMore">
                <div class="col-sm-12">
                    <span class="glyphicons  glyphicons-chevron-up medium filter-expand"  ng-click="setShowMore(false)"></span>
                </div>
            </div>
        </div>
        <div class="row action-bar">
            <export-data mail-id="mailId" export-type="inventory" batch-enabled="true"
                         entity-id="entity.id" mat-id="material.mId" abn-type="abntype" e-tag="etag" ee-tag="eetag" m-tag="mtag"
                         abn-dur="dur" location="loc" pdos="pdos"
                         entity-name="entity.nm" material-name="material.mnm" ebf="ebf" batch-number="bno" rows="numFound"></export-data>
            <div class="pull-right">
                <div ng-show="((isUndef(entity.id) && dashBoardEnabled) || isDef(material.mId)) && isUndef(bno) && isUndef(ebf)"
                     ng-map-tab-switch vw="vw">
                </div>
                <div ng-show="!dashBoardEnabled && (entity.id == null || entity.id == '') && (material.mId == null || material.mId == '') && (ebf == null || ebf == '')"><a ng-click="vw = 'm'" uib-tooltip="{{resourceBundle['map.view']}}"><span class="glyphicons glyphicons-globe"></span></a></div>
            </div>
        </div>
        <div ng-if="material.mId != null && material.mId != '' && (bno == null || bno == '') && (ebf == null || ebf == '') && isUndef(abntype)">
            <div ng-init="templateUrl='views/inventory/map-inventory-list.html';" ng-include="'views/inventory/mat-inventory-list.html'"></div>
        </div>
        <div ng-if="((entity.id != null && entity.id != '') || isDef(abntype)
            || (locationSelected && (material.mId == null || material.mId == '') && (bno == null || bno == '') && (ebf == null || ebf == ''))) && vw == 't' ">
            <div ng-include="'views/inventory/inventory-list.html'"></div>
        </div>
        <div ng-if="dashBoardEnabled && (entity.id == null || entity.id == '') && (material.mId == null || material.mId == '') && (ebf == null || ebf == '')  && vw == 't' && isUndef(abntype) && !locationSelected">
            <div ng-include="'views/inventory/full-inventory-list.html'"></div>
        </div>
        <div ng-if="(entity.id == null || entity.id == '') && (material.mId == null || material.mId == '') && (ebf == null || ebf == '')  && vw == 'm' && !locationSelected">
            <div ng-init="templateUrl='views/inventory/map-inventory-list.html';" ng-include="'views/entities/list-entities-map.html'"></div>
        </div>
        <div ng-if="isUndef(entity.id) && (isDef(ebf) || isDef(bno))  && vw == 't'">
            <div ng-include="'views/inventory/material-batch.html'"></div>
        </div>
    </div>

</div>
