<?xml version="1.0" encoding="utf-8" standalone="no"?><!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <display-name>Logistimo</display-name>
    <listener>
        <listener-class>com.logistimo.services.LogistimoServicesListener</listener-class>
    </listener>
    
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Inventory</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.InventoryServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Data</servlet-name>
		<servlet-class>com.logistimo.api.servlets.DataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CreateEntity</servlet-name>
		<servlet-class>com.logistimo.api.servlets.CreateEntityServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Order</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.OrderServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Optimizer</servlet-name>
		<servlet-class>com.logistimo.api.servlets.OptimizerServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Authenticate</servlet-name>
		<servlet-class>com.logistimo.api.servlets.AuthServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Reports</servlet-name>
		<servlet-class>com.logistimo.api.servlets.ReportsServlet</servlet-class>
	</servlet>
    <servlet>
        <description></description>
        <display-name>HystrixMetricsStreamServlet</display-name>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <servlet-class>com.netflix.hystrix.contrib.metrics.eventstream.HystrixMetricsStreamServlet</servlet-class>
    </servlet>


	<!-- Used as a task for transaction/other data generation/simulation -->
	<servlet>
		<servlet-name>DataGenerator</servlet-name>
		<servlet-class>com.logistimo.api.servlets.DataGenerationServlet</servlet-class>
	</servlet>
	<!-- Public demand board -->
	<servlet>
          <servlet-name>PublicDemandBoard</servlet-name>
          <jsp-file>/s/orders/demandboard_public.jsp</jsp-file>
    </servlet>
    <servlet>
          <servlet-name>PublicDemandDetails</servlet-name>
          <servlet-class>com.logistimo.api.servlets.PublicDemandDetailsServlet</servlet-class>
    </servlet>
    <servlet>
          <servlet-name>PublicList</servlet-name>
          <jsp-file>/s/list.jsp</jsp-file>
    </servlet>
    <!-- Create/update domain configuration -->
    <servlet>
          <servlet-name>Configuration</servlet-name>
          <servlet-class>com.logistimo.api.servlets.ConfigurationServlet</servlet-class>
    </servlet>

	<!-- Servlet for our automated/programmatic mapreduce invoker -->
	<servlet>
  		<servlet-name>mapreducestarter</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.MapReduceStarterServlet</servlet-class>
	</servlet>
	<!-- Communication - SMS/Email -->
	<servlet>
  		<servlet-name>Communicator</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.CommServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>MsgReceiver</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.MsgReceiverServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>MsgHandler</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.MsgHandlerServlet</servlet-class>
	</servlet>
	<servlet>
  		<servlet-name>Export</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.ExportServlet</servlet-class>
	</servlet>
	<!-- Administration -->
	<servlet>
  		<servlet-name>Admin</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.AdminServlet</servlet-class>
	</servlet>
	<!-- File upload servlet -->
	<servlet>
  		<servlet-name>Upload</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.UploadServlet</servlet-class>
	</servlet>
	<!-- Notification servlet -->
	<servlet>
  		<servlet-name>TransCommit</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.TransCommitServlet</servlet-class>
	</servlet>
	<!-- Paged execution -->
	<servlet>
  		<servlet-name>PagedExec</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.PagedExecServlet</servlet-class>
	</servlet>
	<!-- Notification -->
	<servlet>
  		<servlet-name>Notifier</servlet-name>
  		<servlet-class>com.logistimo.api.servlets.NotifierServlet</servlet-class>
	</servlet>
	<!--  SetupDataServlet added by Vani-->
	<servlet>
		<servlet-name>SetupData</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.SetupDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransData</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.TransDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BulletinBoard</servlet-name>
		<jsp-file>/s/board.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>BulletinBoardMgr</servlet-name>
		<servlet-class>com.logistimo.api.servlets.BBoardMgrServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetConfigData</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.ConfigDataServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>getLocationConfig</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.LocationConfigServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CustomReportsExportServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.CustomReportsExportServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DashboardServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.DashboardServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>FileUploadServlet</servlet-name>
        <servlet-class>com.logistimo.api.servlets.FileUploadServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>DirectFileUploadServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.DirectFileUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MobileLogServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.MobileLogServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>FeedbackServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.FeedbackServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransUploadServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.TransUploadServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DomainsServlet</servlet-name>
		<servlet-class>com.logistimo.api.servlets.mobile.DomainsServlet</servlet-class>
	</servlet>
	<!--  SetupDataServlet added by Vani-->
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/l</url-pattern>
		<url-pattern>/api/l</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Inventory</servlet-name>
		<url-pattern>/i</url-pattern>
		<url-pattern>/api/i</url-pattern>
		<url-pattern>/task/i</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Data</servlet-name>
		<url-pattern>/s/data</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CreateEntity</servlet-name>
		<url-pattern>/s/createentity</url-pattern>
		<url-pattern>/task/createentity</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Order</servlet-name>
		<url-pattern>/o</url-pattern>
		<url-pattern>/api/o</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Optimizer</servlet-name>
		<url-pattern>/task/optimize</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Authenticate</servlet-name>
		<url-pattern>/enc/authenticate</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Reports</servlet-name>
		<url-pattern>/s/reports</url-pattern>
	</servlet-mapping>
	
	<!-- Data generator that runs as a task in the Task Queue - NOTE: important to specify the /task in the path -->
	<servlet-mapping>
		<servlet-name>DataGenerator</servlet-name>
		<url-pattern>/task/datagenerator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublicDemandBoard</servlet-name>
		<url-pattern>/pub/demand</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublicDemandDetails</servlet-name>
		<url-pattern>/pub/demanddetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PublicList</servlet-name>
		<url-pattern>/pub/list</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Configuration</servlet-name>
		<url-pattern>/s/createconfig</url-pattern>
		<url-pattern>/task/createconfig</url-pattern>
	</servlet-mapping>
	
	<servlet-mapping>
  		<servlet-name>mapreducestarter</servlet-name>
  		<url-pattern>/task/mrstarter</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Communicator</servlet-name>
		<url-pattern>/s/communicator</url-pattern>
		<url-pattern>/task/communicator</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MsgReceiver</servlet-name>
		<url-pattern>/pub/receiver</url-pattern>
	</servlet-mapping>
	<!-- URL for receving status updates, currently maps to the MsgReceiver servlet -->
	<servlet-mapping>
		<servlet-name>MsgReceiver</servlet-name>
		<url-pattern>/pub/statusreceiver</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MsgHandler</servlet-name>
		<url-pattern>/task/msghandler</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Export</servlet-name>
		<url-pattern>/s/export</url-pattern>
		<url-pattern>/task/export</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Admin</servlet-name>
		<url-pattern>/task/admin</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Upload</servlet-name>
		<url-pattern>/s/upload</url-pattern>
		<url-pattern>/task/upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransCommit</servlet-name>
		<url-pattern>/task/transcommit</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SetupData</servlet-name>
		<url-pattern>/api/s</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransData</servlet-name>
		<url-pattern>/api/t</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PagedExec</servlet-name>
		<url-pattern>/task/pagedexec</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Notifier</servlet-name>
		<url-pattern>/task/notifier</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BulletinBoard</servlet-name>
		<url-pattern>/pub/board</url-pattern>
		<url-pattern>/s/board</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BulletinBoardMgr</servlet-name>
		<url-pattern>/s/bboardmgr</url-pattern>
		<url-pattern>/task/bboardmgr</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetConfigData</servlet-name>
		<url-pattern>/api/cfg</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>getLocationConfig</servlet-name>
		<url-pattern>/api/loc</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MobileLogServlet</servlet-name>
		<url-pattern>/api/mlog</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>FeedbackServlet</servlet-name>
		<url-pattern>/api/feedback</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DashboardServlet</servlet-name>
		<url-pattern>/api/dashboard</url-pattern>
		<url-pattern>/s/dashboard</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransUploadServlet</servlet-name>
		<url-pattern>/task/transupload</url-pattern>
		<url-pattern>/s/transupload</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>FileUploadServlet</servlet-name>
        <url-pattern>/s/fileupload</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>DirectFileUploadServlet</servlet-name>
		<url-pattern>/s/direct-upload</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DomainsServlet</servlet-name>
		<url-pattern>/s/domains</url-pattern>
		<url-pattern>/task/domains</url-pattern>
	</servlet-mapping>
    <servlet-mapping>
        <servlet-name>HystrixMetricsStreamServlet</servlet-name>
        <url-pattern>/hystrix/hystrix.stream</url-pattern>
    </servlet-mapping>
	<!-- Security Filter -->
	<filter>
  		<filter-name>securityFilterChain</filter-name>
  		<filter-class>com.logistimo.api.filters.SecurityFilter</filter-class>
	</filter>
	<filter-mapping>
  		<filter-name>securityFilterChain</filter-name>
  		<url-pattern>/*</url-pattern>
	</filter-mapping>

	<welcome-file-list>
		<welcome-file>s/index.jsp</welcome-file>
	</welcome-file-list>
  <servlet-mapping>
	<servlet-name>CustomReportsExportServlet</servlet-name>
	<url-pattern>/s/customreportsexport</url-pattern>
	<url-pattern>/task/customreportsexport</url-pattern>
  </servlet-mapping>
	<servlet>
		<servlet-name>mvc-dispatcher</servlet-name>
		<servlet-class>
			org.springframework.web.servlet.DispatcherServlet
		</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>

	<servlet-mapping>
		<servlet-name>mvc-dispatcher</servlet-name>
		<url-pattern>/s2/api/*</url-pattern>
		<url-pattern>/_ah/api/*</url-pattern>
	</servlet-mapping>

	<filter>
		<filter-name>securityFilterChain2</filter-name>
		<filter-class>com.logistimo.api.filters.APISecurityFilter</filter-class>
	</filter>
    <filter>
        <filter-name>MediaSecurityFilter</filter-name>
        <filter-class>com.logistimo.api.filters.MediaSecurityFilter</filter-class>
    </filter>
	<filter-mapping>
		<filter-name>securityFilterChain2</filter-name>
		<url-pattern>/s2/api/*</url-pattern>
	</filter-mapping>
    <filter-mapping>
        <filter-name>MediaSecurityFilter</filter-name>
        <url-pattern>/_ah/api/*</url-pattern>
    </filter-mapping>

	<context-param>
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/mvc-dispatcher-servlet.xml</param-value>
	</context-param>

	<listener>
		<listener-class>
			org.springframework.web.context.ContextLoaderListener
		</listener-class>
	</listener>
</web-app>
