<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div ng-controller="ForgotPasswordController">
    <form class="form-horizontal" novalidate>
        <div class="row"> <!--User ID-->
            <div class="col-sm-12">
                <div class="text-center">
                        <img class="imagewrapper" src="images/acquia_marina_logo.png">
                </div>
            </div>
        </div>
    <div class="bgr bgr-login">
            <div class="row">
                <div class="col-sm-12 text-center codegray">
                    <h4>Forgot password</h4>
                </div>
            </div>
            <div class="row ml32 mh40" ng-show="invalid && showMsg">
                <div class="col-sm-11 ml32 mt10">
                    <p class="fc-color-red"><span class="glyphicons glyphicons-remove-circle" style="top:2px;"></span>&nbsp;{{errorMsg}}</p>
                </div>
            </div>
            <div class="row marginlr0">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group">
                        <span class="control-label">{{resourceBundle['user.id']}}</span>
                        <input type="text" class="form-control" ng-model="fpw.uid" name="username" autofocus="autofocus" required ng-disabled="resetPwd"/>
                    </div>
                </div>
            </div>
            <div class="row noMargin">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group">
                        <span class="control-label">{{resourceBundle['pwd.mode']}}</span><span class="lPad"></span>
                        <input type="radio" value="0" ng-model="fpw.mode" name="sms" ng-disabled="resetPwd"/> {{resourceBundle['message.sms']}}&nbsp;&nbsp;&nbsp;
                        <input type="radio" value="1" ng-model="fpw.mode" name="email" ng-disabled="resetPwd"/> {{resourceBundle['user.email']}}&nbsp;&nbsp;&nbsp;
                        <p class="litetext pt5" ng-show="fpw.mode == '0'">{{resourceBundle['pwd.sms.info']}}</p>
                        <p class="litetext pt5" ng-show="fpw.mode == '1'">{{resourceBundle['pwd.email.info']}}</p>
                    </div>
                </div>
            </div>
            <div class="row noMargin" ng-show="openOtp">
                <div class="col-sm-10 col-sm-offset-1">
                    <div class="form-group noMargin">
                        <p class="litetext">{{resourceBundle['pwd.otp.enter']}}</p>
                    </div>
                    <div class="form-group noMargin">
                        <span class="control-label">{{resourceBundle['otp']}}</span>
                        <input type="text" class="form-control" ng-model="fpw.otp" name="otp" autofocus="autofocus" maxlength="6" required only-digits/>
                    </div>
                    <div class="form-group noMargin text-center">
                        <a href="" ng-click="generateNewOtp()" name="generatenewotp">{{resourceBundle['pwd.generate.otp.new']}}</a>
                        <span ng-show="nLoading" class="glyphicons glyphicons-cogwheel spin"> </span>
                    </div>
                    <p class="form-group litetext pt5">{{resourceBundle['otp.info']}}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <div class="form-group">
                    <button ng-click="generateOtp()" name="otp" class="btn btn-primary ml10" ng-disabled="fLoading || isUndef(fpw.uid)" ng-if="otp && !resetPwd && fpw.mode == '0'">
                        <span ng-show="fLoading" class="glyphicons glyphicons-cogwheel spin"></span>&nbsp;{{resourceBundle['pwd.generate.otp']}}
                    </button>
                    <button ng-click="generateOtp()" name="otp" class="btn btn-primary ml10" ng-disabled="fLoading || isUndef(fpw.uid)" ng-if="otp && !resetPwd && fpw.mode == '1'">
                        <span ng-show="fLoading" class="glyphicons glyphicons-cogwheel spin"></span>&nbsp;{{resourceBundle['resetpassword']}}
                    </button>
                    <button ng-click="resetPassword()" name="login" class="btn btn-primary ml10" ng-disabled="fLoading || isUndef(fpw.otp)" ng-if="resetPwd">
                        <span ng-show="fLoading" class="glyphicons glyphicons-cogwheel spin"></span>&nbsp;{{resourceBundle['resetpassword']}}
                    </button>
                    <button ng-click="cancelFP()" name="reset" class="btn btn-default ml10">{{resourceBundle['back']}}</button></div>
                    <p class="litetext dummyLink cbx" ng-click="enterPreviousOTP()" ng-show="!openOtp && isDef(fpw.uid) && fpw.mode == '0'">{{resourceBundle['pwd.otp.exists']}}</p>
                </div>
            </div>
            <div class="row noMargin pt5">
                <div class="col-sm-12">
                    <p class="litetext" align="justify">{{resourceBundle['pwd.forgot.info']}}</p>
                </div>
            </div>
        </div>
    </form>
</div>