<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="btn-group btn-group-blk btn-group-top" uib-dropdown is-open="isopen">
    <button type="button" class="btn btn-outline dropdown-toggle" uib-dropdown-toggle ng-disabled="tags==null || tags.length == 0 || isDisabled">
        {{tag || $parent.resourceBundle['all'] }} <span ng-show="tags!=null && tags.length > 0" class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu" ng-show="isopen">
        <li><a ng-click="setTag('')"
               ng-class="{'disabled': !tag || tag == ''}">{{$parent.resourceBundle['all']}}</a></li>
        <li ng-repeat="tg in tags">
            <a ng-click="setTag(tg)"
               ng-class="{'disabled': tag == tg}">{{tg}}</a>
        </li>
    </ul>
</div>