<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<form class="form-horizontal" role="form">
    <div ng-controller="AddSummarisationConfigurationController">
        <div class="row" ng-repeat="field in configFields">
            <div class="col-sm-8">
                <div class="form-group">
                    <label class="col-sm-4 control-label">{{resourceBundle['es.'+subview+'.'+type+'.'+field]}}
                        {{editData[field]['oper']}}</label>

                    <div class="col-sm-5 noleftpad">
                        <div ng-if="editData[field]['units'] == 'hours' || editData[field]['units'] == 'days'">
                            <input only-digits allow-decimal type="text" class="form-control" autocomplete="off"
                                   ng-if="!isTagField(field)"
                                   ng-model="editData[field]['value']" maxlength="10">
                        </div>
                        <div ng-if="editData[field]['units'] != 'hours' && editData[field]['units'] != 'days'">
                            <input type="text" class="form-control" autocomplete="off" ng-if="!isTagField(field)"
                                   ng-model="editData[field]['value']" maxlength="100">
                        </div>

                        <tag-select tags-model="editData[field]['values']" type="getTagType(field)"
                                    ng-if="isTagField(field)" force-no-udf="true"></tag-select>

                    </div>
                    <label class="col-sm-2 codegray cbx noleftpad">{{editData[field]['units']}}</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span ng-click="save()" class="btn btn-primary">{{resourceBundle['save']}}</span>
                <span ng-click="cancel()" class="btn btn-default">{{resourceBundle['cancel']}}</span>
            </div>
        </div>


    </div>
</form>
