<!DOCTYPE html>
<!--
  ~ Copyright © 2017 Logistimo.
  ~
  ~ This file is part of Logistimo.
  ~
  ~ Logistimo software is a mobile & web platform for supply chain management and remote temperature monitoring in
  ~ low-resource settings, made available under the terms of the GNU Affero General Public License (AGPL).
  ~
  ~ This program is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General
  ~ Public License as published by the Free Software Foundation, either version 3 of the License, or (at your option) any
  ~ later version.
  ~
  ~ This program is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied
  ~ warranty of MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU Affero General Public License
  ~ for more details.
  ~
  ~ You should have received a copy of the GNU Affero General Public License along with this program.  If not, see
  ~ <http://www.gnu.org/licenses/>.
  ~
  ~ You can be released from the requirements of the license by purchasing a commercial license. To know more about
  ~ the commercial license, please contact us at opensource@logistimo.com
  -->

<div class="box topbox">
    <div class="bizinfo bizinfo-last noMargin">
        <div ng-controller="SummarisationConfigurationController">
            <form class="form-horizontal" role="form">
                <div class="panel-container bgr mh200" ng-repeat="type in config[subview]['type']">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="title-heading">
                                <div class="capitalize">{{resourceBundle['es.'+subview+'.'+type]}}</div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="litetext pb10">
                                {{resourceBundle['description.'+subview+'.'+type]}}
                            </div>


                            <div ng-if="!config[subview][type]['editData']">
                                <table class="table table-condensed table-hover table-logistimo" ng-if="config[subview][type]['rows'].length > 0">
                                    <thead>
                                    <tr>
                                        <th class="col-sm-1 text-center">S.No</th>
                                        <th ng-repeat="heading in config[subview][type]['heading']">{{resourceBundle['es.'+subview+'.'+type+'.'+heading]}}
                                            <span ng-show="isDef(config[subview][type]['units'][$index])"> ({{config[subview][type]['units'][$index]}})</span>
                                        </th>
                                        <th class="col-sm-1"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr ng-repeat="row in config[subview][type]['rows']">
                                        <td class="text-center">{{$index + 1}}</td>
                                        <td ng-repeat="(key,value) in row">
                                            {{displayTable(row[key],key,value)}}</td>
                                        <td class="text-center">
                                            <span class="glyphicons glyphicons-bin" ng-click="remove(type,$index)"></span>
                                            <span class="glyphicons glyphicons-edit paddinglr5" ng-click="edit(type,$index)"></span>
                                        </td>
                                    </tr>
                                    <tr></tr>
                                    </tbody>
                                </table>
                                <div class="codegray padding5" ng-if="config[subview][type]['rows'].length == 0">{{resourceBundle['error.no.config.available']}}
                                </div>
                                <div class="pt10">
                                    <span ng-click="add(type)" class="btn btn-primary">{{resourceBundle['add']}}</span>
                                </div>
                            </div>
                            <div ng-if="config[subview][type]['editData']"
                                 ng-init="configFields=config[subview][type]['heading'];configData=config[subview][type]['editData']"
                                 ng-include="'views/configuration/eventdistribution/add-template.html'">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row noMargin">
                    <div class="col-sm-12 paddinglr5">
                        <button type="button" ng-click="updateConfig()" class="btn btn-primary" ng-disabled="editCounter.value!=0">{{resourceBundle['save']}}</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>